{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

<div class="input--file">
  <label for="{{ attributes.id }}" class="input--file__label">{{ "Upload your file"|t }}</label>
  <input{{ attributes }} />{{ children }}
</div>
