<div class="av__slide-timer">
  <div class="timer" data-timer data-time="{{ element.0['#markup'] }}" data-perimeter="660" data-type="circle" data-autostart="false" data-remaining-time-alert="{{ element['#timer']['remaining_time'] }}">
    <div class="icon icon-{{ element['#timer']['icon'] }}" data-grunticon-embed></div>
    <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" id="timer">
     <g>
      <title>Timer</title>
      <circle id="back" class="" r="83" cy="100" cx="100" stroke-width="17" fill="none"/>
      <circle id="circle" class="circle_animation" r="83" cy="100" cx="100" stroke-width="17" stroke="#65C2C8" fill="none"/>
     </g>
    </svg>
  </div>
</div>
