<div class="av__slide-title">
  <h2>{% for item in items %}{{ item.content }}{% endfor %}</h2>
  {% if element["#audio"] %}
  <a href="{{ element["#audio"]['url'] }}" class="circle circle--with-icon circle--toggle" data-audio-player-id="{{ element["#audio"]['id'] }}">
    <div class="icon icon-audio" data-grunticon-embed></div>
    <div class="icon icon-pause" data-grunticon-embed></div>
  </a>
  {% endif %}
  {% if element['#advice'] %}
    <a href="#advice-{{element['#advice']['id']}}" class="circle circle--yellow circle--with-icon" data-lightbox data-lightbox-type="inline">
      <div class="icon icon-lightbulb--small" data-grunticon-embed></div>
    </a>
  {% endif %}
</div>
{% if element["#audio"] %}
<div class="av__slide-player" data-audio-player data-id="{{ element["#audio"]['id'] }}">
  <audio controls>
    <source src="{{ element["#audio"]['url'] }}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>
{% endif %}
