.account

  &__nav
    width: 100%
    +tablet
      border-top: 1px solid $border
      border-bottom: 1px solid $border

    ul
      +reset-box-model
      margin: 0 22px
      border: 1px solid $border
      +tablet
        margin: 0
        border: 0
      +desktop
        +grid-media-container()
        display: flex
        align-items: center
        justify-content: center
      &.open li
        +mobile-only
          transform: scaleY(1)
          visibility: visible
          max-height: 49px
          padding: 10px 21px 9px 21px
          &:after
            opacity: 0
          &.active
            border: 0
            background-color: $grey--light
            a
              color: $primary
            svg path
              fill: $primary
            &:after
              opacity: 1
    li
      position: relative
      display: flex
      padding: 0 21px 0 21px
      align-items: center
      justify-content: flex-start
      list-style: none
      transition: all 0.3s ease
      transform: scaleY(0)
      max-height: 0
      visibility: hidden
      text-align: left
      transform-origin: center top
      +tablet
        padding: 17px 30px 14px 30px !important
        display: list-item
        max-height: none
        visibility: visible
        transform: none

      &:hover, &.active
        transform: scaleY(1)
        visibility: visible
        padding: 10px 21px 9px 21px
        max-height: 49px

        +tablet
          background-color: $grey--light
          cursor: pointer
          max-height: none
          svg path
            fill: $primary
          a
            color: $primary

      &:after
        content: ""
        position: absolute
        width: 0
        height: 0
        right: 19px
        bottom: 19px
        border-style: solid
        border-width: 4px 2.5px 0 2.5px
        border-color: $black transparent transparent transparent
        transition: opacity 0.3s
        +tablet
          display: none

      div
        display: inline-block
        width: 50px
        height: 21px
        margin-right: 10px
        text-align: center
        +tablet
          display: block
          float: none
          width: auto
          margin: 0 auto 9px auto
        svg
          height: 100%
          width: auto
          path
            transition: all 0.2s

    a
      display: block
      font-size: 11px
      line-height: 15px
      font-weight: 300
      text-transform: uppercase
      text-decoration: none
      transition: color 0.2s
      +link-two-colors($black, $primary)
      &:focus
        color: $black
