$avHeaderHeight: 81px
$avDefaultBottomMargin: 28px
$av-font-size: 26px
$av-line-height: 37px

.av
  &__header
    position: fixed
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    height: $avHeaderHeight
    padding: 0 11px
    z-index: 1040
    background-color: $white

  &__logo, &__company-logo
    img
      display: block

  &__logo
    +mobile-only
      +last

  &__tools
    display: flex
    align-items: center
    justify-content: center
    opacity: 0
    +mobile-only
      display: none
    a
      display: inline-block
      margin-left: 29px
      &:first-child
        margin-left: 0

  &__content
    min-height: calc(100vh - 81px - 21px)

  &__sidebar
    position: fixed
    top: 0
    left: 0
    bottom: 0
    height: 100%
    +mobile-only
      display: none
    +av-mobile-only
      width: 97px
    +av-desktop
      width: 262px
      background-color: $grey--light

  &__timer
    position: fixed
    width: 100%
    top: $avHeaderHeight
    height: 21px
    background-color: $timer--30
    z-index: 1040

    &-elapsed
      width: 0
      height: 100%
      background-color: $timer
      transition: width 1s linear

  &__tim
    display: none
    width: 100%
    height: 169px
    margin: 50px 0 35px 0
    text-align: center
    +sprite-ui($tim--default, 0, 0)
    background-position: center top
    +av-desktop
      display: block

  &__wrapper
    padding-top: calc(#{$avHeaderHeight} + 21px)

  &__sections
    ul
      position: relative
      +reset-box-model
      z-index: 100
      overflow: hidden
      margin-top: 40px
      +av-desktop
        margin-top: 0
      &:after
        content: ""
        position: absolute
        height: 100%
        width: 1px
        left: 50%
        top: 0
        background-color: $black--20
        z-index: 100
        +av-desktop
          left: 33px
    li
      position: relative
      padding: 10px 0 10px 52px
      list-style: none
      &:before
        content: ""
        position: absolute
        width: 10px
        height: 10px
        left: 50%
        top: 50%
        margin-top: -5px
        background-color: $black--20
        border-radius: 50%
        z-index: 101
        transform: translateX(-50%)
        +av-desktop
          left: 29px
          transform: none
      &.active
        &:before
          width: 14px
          height: 14px
          left: 50%
          border: 2px solid $info
          border-radius: 0
          transform: rotate(45deg) translateX(-50%) translateX(-2px)
          background-color: $white
          +av-desktop
            left: 27px
            transform: rotate(45deg)
            background-color: $grey--light
        a
          color: $info

      &:first-child:after
        content: ""
        position: absolute
        top: 0
        left: 50%
        width: 10px
        height: 23px
        margin-left: -5px
        z-index: 999
        background-color: $white
        +av-desktop
          left: 27px
          margin-left: 0
          background-color: $grey--light
      &.active:first-child:after
        height: 14px
        +av-desktop
          height: 20px
      &:last-child:after
        content: ""
        position: absolute
        top: 51px
        left: 50%
        width: 10px
        height: 50px
        margin-left: -5px
        z-index: 999
        background-color: $white
        +tablet
          top: 33px
        +av-desktop
          height: 30px
          margin-left: 0
          left: 27px
          background-color: $grey--light
      &.active:last-child:after
        top: 51px
        +av-desktop
          top: 40px

    a
      text-decoration: none
      color: $black--30
      line-height: 36px
      font-weight: 500
      font-size: 26px
      opacity: 0
      +av-desktop
        opacity: 1

  &__slide
    +av-mobile-only
      +span(5)
      +last
    +tablet
      padding-right: span(1)
    +av-desktop
      +span(8)
      +last
    .file
      display: none
    &-title
      +tablet
        display: flex
        align-items: center
        justify-content: flex-start
      h3
        margin-right: 20px
      h2
        padding: 0
        margin: 43px 20px 0 0
        text-align: left
        font-weight: 500
        font-size: 34px
        line-height: 52px
        color: $black
        +tablet
          margin: 43px 20px 42px 0
          font-size: 38px
        &:after
          display: none
    &-introduction
      font-weight: 500
      font-size: 32px
      line-height: 41px
      color: $black
    &-subtitle
      margin: 0 0 $avDefaultBottomMargin 0
      font-size: 32px
      line-height: 44px
    &-text
      margin-bottom: $avDefaultBottomMargin
      font-size: $av-font-size
      line-height: $av-line-height
    &-image
      margin-bottom: $avDefaultBottomMargin
      img
        display: block
        width: 100%
        height: auto
    &-list
      +pie-clearfix
      margin-bottom: $avDefaultBottomMargin
      color: $black
      ul
        +reset-box-model
      li
        position: relative
        padding-left: 57px
        margin-bottom: 15px
        list-style: none
        font-size: 24px
        line-height: 35px
        &:before
          content: ""
          position: absolute
          width: 31px
          height: 31px
          left: 0
          top: 50%
          transform: translateY(-50%)
          background-image: image-url('svg/check--circled.svg')

    &-timer
      margin: 50px 0
      .timer
        position: relative
        width: 200px
        height: 200px
        margin: 0 auto
        .icon
          +centered
          width: 80px
          height: 80px
          svg
            width: 100%
            height: 100%
      svg
        &#timer
          transform: rotate(-90deg)
        #back
          stroke: rgba(216, 216, 216, 0.2)
      .circle_animation
        stroke-dasharray: 660 // this value is the pixel circumference of the circle
        stroke-dashoffset: 660
        transition: all 1s linear

    &-attendance
      margin-bottom: $avDefaultBottomMargin
      ul
        +reset-box-model
      li
        display: flex
        margin-bottom: 28px
        justify-content: flex-start
        align-items: center
        list-style: none
        font-size: 24px
      input
        margin-right: 20px
        float: none
        &+label
          padding: 0
          float: none


  &__arrows
    margin-top: 22px
    margin-bottom: 45px
    .arrow
      display: inline-block
      width: 56px
      height: 55px
      margin-right: 25px
      border: 2px solid $info
      border-radius: 6px
      background: image-url('svg/av-arrow--green.svg') center center no-repeat
      +hide-text
      &--right
        background-color: $info
        background-image: image-url('svg/av-arrow--white.svg')
      &--hidden
        display: none

  .slick-dots
    position: absolute
    top: 10px
    right: 10px
    +reset-box-model
    +grid-media(">=768px")
      top: 70px
    li
      display: inline-block
      margin-left: 9px
      width: 12px
      height: 12px
      border-radius: 50%
      background-color: $grey
      list-style: none
      transition: all 0.3s
      pointer-events: none
      &.slick-active
        background-color: $info
    button
      display: none

  &__slide-player
    max-height: 0
    opacity: 0
    transition: all 0.3s
    overflow: hidden
    &--visible
      max-height: 100px
      opacity: 1
      margin-bottom: $avDefaultBottomMargin

  &__scrollable
    position: fixed
    width: 60px
    height: 60px
    border-radius: 50%
    background-color: $info
    right: 20px
    bottom: 20px
    opacity: 0
    +tablet
      width: 100px
      height: 100px
      right: 50px
      bottom: 50px
    &--animate
      animation-name: scrollme
      animation-duration: 4s

    .icon
      +mobile-only
        width: 30px
        height: auto
      +centered
      svg
        width: 100%
        height: auto
        +centered

@keyframes scrollme
  0%
    opacity: 0
  10%
    opacity: 1
  11%
    transform: translateY(0)
  30%
    transform: translateY(-20%)
  39%
    transform: translateY(0)
  61%
    transform: translateY(0)
  80%
    transform: translateY(-20%)
  89%
    transform: translateY(0)
  90%
    opacity: 1
  100%
    opacity: 0
