.button,
%button
  display: block
  width: 100%
  padding: 12px 16px
  margin: 0 7px 10px 0
  border: 2px solid $primary
  border-radius: 6px
  text-transform: uppercase
  font-size: 12px
  line-height: 16px
  background-color: transparent
  text-decoration: none
  text-align: center
  transition: all 0.3s
  font-weight: 900
  +tablet
    display: inline-block
    width: 150px
    margin-bottom: 0

  &:hover
    background-color: $primary
    color: $white

  &--small
    padding: 8px 0 7px 0
  &--inline-block
    display: inline-block
    width: inherit
  &--block
    display: block
    width: 100%
  &--wide
    +desktop
      width: 280px

  &--primary
    background-color: $primary
    color: $white
    &:hover
      background-color: lighten($primary, 10)
      border: 2px solid lighten($primary, 10)

  &--white
    border: 2px solid $white
    color: $white
    background-color: rgba(0,0,0,0.1)
    &:hover
      background-color: rgba(0,0,0,0.5)

  &--naked
    border: 0
    color: $black !important
    font-weight: normal
    &:hover
      background: none
      color: $black

  &--forgot-password
    &, &:hover
      display: block
      margin: spacer(m) auto 0 auto
      padding: 0
      border: 0
      font-size: 12px
      line-height: 25px
      font-weight: normal
      color: $primary
      text-decoration: none
      text-transform: none
      background-color: transparent

  &--link-only
    &, &:hover
      background-color: transparent
      text-transform: none
      font-size: inherit
      padding: 0
      text-decoration: underline
      color: $primary
      font-weight: normal
      border: 0

  &--av
    padding: 16px
    font-size: 16px
    line-height: 22px
