html
  font-family: $base-font-family
  font-size: 100% * ($base-font-size / 16px)
  line-height: $base-line-height
  font-weight: 300

// Set default heading color.
h1, h2, h3, h4, h5, h6
  color: $header-color

h2, %h2
  position: relative
  margin: spacer(l) 0 spacer(m) 0
  padding: 0 spacer(m) 4px spacer(m)
  font-size: 30px
  text-align: center
  color: $grey--dark
  line-height: 41px
  font-weight: 500
  text-transform: uppercase

  &:after
    content: ""
    position: absolute
    width: 45px
    height: 4px
    bottom: 0
    left: 50%
    margin-left: -22.5px
    background-color: $primary

h3
  font-size: 20px
  line-height: 27px
  font-weight: 900
  color: $grey--dark

h4, %h4
  margin: 0 0 spacer(l) 0
  font-size: 21px
  font-weight: 300
  line-height: 25px

// Set default links color.
a
  +link-colors($link-color, $link-color)

// Remove default paragraph margin top.
p
  margin-top: 0
  &:last-child
    margin-bottom: 0

b, strong
  font-weight: 900

b
  font-weight: 900

%base
  font-size: 14px
  color: $black
  line-height: 25px

.t-upper
  text-transform: uppercase

.t-center
  text-align: center

.w-600
  font-weight: 600


// utils
.hidden
  position: absolute !important
  clip: rect(1px 1px 1px 1px) /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px)
  padding: 0 !important
  border: 0 !important
  height: 1px !important
  width: 1px !important
  overflow: hidden
