header
  position: fixed
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  max-width: 100%
  display: flex
  height: 153px
  top: 0
  z-index: 9999
  background-color: $grey--light
  transition: all 0.3s

  +mobile-only
    padding: 20px 16px
    flex-wrap: wrap
    justify-content: flex-start
  +tablet
    height: $desktopHeaderHeight

  .toolbar-fixed &
    top: 39px

  .toolbar-horizontal &
    top: 79px

  .sticky-header &
    height: 80px
    +tablet
      height: 50px
    border-bottom: 1px solid $grey--light

  .header__header
    margin-left: 22px
    +tablet
      width: 40%
  .header__logo, .region-header-right, .header__header
    +tablet
      float: left
  .region-header-right
    transition: opacity 0.3s
    +tablet
      display: flex
      align-items: center
      justify-content: flex-end
      width: 40%
      padding-right: 13px
      text-align: right
      .button
        float: right
    .sticky-header &
      .button
        @extend %button--small
    +mobile-only
      width: 100%
      .button
        float: none
        margin: 10px auto 0 auto
        max-width: 145px
      .sticky-header &
        opacity: 0

  .region-header__wrapper
    +mobile-only
      position: fixed
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      width: 100%
      left: 0
      bottom: 0
      right: 0
      top: 81px
      height: calc(100vh - 81px)
      text-align: center
      visibility: hidden
      opacity: 0
      z-index: -1
      transition: all 0.3s
      background-color: $grey--light
      transition: all 0.3s
      .is-menu-open &
        opacity: 1
        visibility: visible
        z-index: 1000

    .sticky-header &
      +tablet
        transform: translateX(100px)
        transition-delay: 0s

    .block-commerce-cart
      display: block
      +desktop
        display: none

  .region-cart
    display: none
    +desktop
      display: block

.header
  &__logo
    +mobile-only
      align-self: center
    +tablet
      width: 20%
    .icon-logo
      margin: 0 auto
      +mobile-only
        width: 168px
        svg
          width: 100%
    path, polygon
      transition: all 0.3s
    &:hover
      #square-left
        transform: translateX(7px)
      #square-right
        transform: translateX(-7px)
    .sticky-header &
      +tablet
        #s
          transition-delay: 0.05s
        #apo
          transition-delay: 0.1s
        #t
          transition-delay: 0.15s
        #i
          transition-delay: 0.2s
        #m
          transition-delay: 0.25s
        #b
          transition-delay: 0.3s
        #o
          transition-delay: 0.35s
        #x
          transition-delay: 0.4s
        #square-left
          transition-delay: 0.45s
        #square-right
          transition-delay: 0.5s
        #s, #t, #i, #m, #b, #o, #x, #apo, #square-left, #square-right
          transform: translateY(-100%)
          opacity: 0

  &__logo-collapsed
    display: none
    position: absolute
    left: 42px
    top: 50%
    transform: translateY(-50%)
    opacity: 0
    transition: opacity 0.3s
    transition-delay: 0s
    +tablet
      display: block

    .sticky-header &
      opacity: 1
      transition-delay: 0.8s
