.input--file
  position: relative

  &__label
    @extend %button
    @extend %button--block
    cursor: pointer
    color: $primary

  input[type="file"]
    width: 0.1px
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1


.image-widget
  position: relative
  span.file
    margin-bottom: 10px
  span.file-size
    display: none
  .image-preview
    padding: 40px 0
    border: 1px solid $border
    text-align: center
    &:hover .form-submit
      opacity: 1
      background-color: $error
      border: 0
    img
      width: auto
      height: auto
      max-height: 120px
      max-width: 190px
  .image-widget-data .file--image
    display: none
  .form-submit
    position: absolute
    display: block
    top: 8px
    right: 6px
    width: 32px !important
    height: 32px !important
    border-radius: 50%
    padding: 0
    margin: 0
    border: 0
    background: image-url('svg/cross--white.svg') center center no-repeat $error
    opacity: 0
    transition: opacity 0.3s ease
    +hide-text
