.login

  &__form
    position: relative
    +clearfix
    margin: 70px -22px 90px -22px
    padding: 0 22px
    background-color: $grey--light
    label
      display: none !important
    #block-stimbox-content
      padding: 0
    +desktop
      margin: 70px 0 90px 0
      padding: 0
    &-register-wrapper
      position: relative
      &:before
        content: ""
        position: absolute
        top: -30px
        left: -22px
        right: -22px
        width: 1000px
        height: 1px
        background-color: $border
      +desktop
        &:before
          display: none

    &-register
      display: flex
      margin-top: 50px
      margin-bottom: spacer(l)
      align-items: center
      justify-content: center
      flex-direction: column

      p
        margin-bottom: 50px
        padding: 0 spacer(s)
        +desktop
          padding: 0

    &:after
      display: none
      content: ""
      position: absolute
      left: 50%
      width: 1px
      height: 100%
      top: 0
      background-color: $grey--line
      opacity: 0.2
      +desktop
        display: block

    &--register
      background-color: transparent
      &:after
        display: none
      .form-actions
        margin-top: 65px
    &--login
      form
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column

    form
      margin-top: 50px
      +desktop
        margin-bottom: 50px

    .form-item
      margin: 0 0 10px 0
      +desktop
        width: 291px
      .description
        display: none

    .form-actions
      text-align: center

.password-strength
  width: 100%
  +desktop
    height: 44px
  &__meter
    margin-top: 10px
    height: 6px
    background-color: $border
  &__title
    @extend %base
  &__text
    font-weight: 900
  &__indicator
    &.is-weak
      background-color: $error
    &.is-good
      background-color: $warning
    &.is-strong
      background-color: $success
.password-confirm
  width: 100%
  @extend %base
  .error, .ok
    font-weight: 900

.password-suggestions
  @extend %base
  border: 1px solid $border
