.menu--main
  // +mobile-only
  //   position: fixed
  //   display: flex
  //   align-items: center
  //   justify-content: center
  //   width: 100%
  //   left: 0
  //   bottom: 0
  //   right: 0
  //   top: 81px
  //   height: calc(100vh - 81px)
  //   text-align: center
  //   visibility: hidden
  //   opacity: 0
  //   z-index: -1
  //   transition: all 0.3s
  //   background-color: $grey--light
  //   .is-menu-open &
  //     opacity: 1
  //     visibility: visible
  //     z-index: 1000

  .menu
    margin-left: 0
    text-align: center
    +tablet
      margin: 0 22px 0 0
      text-align: left

  li
    display: block
    padding-top: 0
    margin-right: spacer(s)
    +tablet
      display: inline-block
    +desktop
      margin-right: spacer(l)
    &:last-child
      margin-right: 0
    &.menu-item--active-trail
      a
        color: $primary
  a
    text-transform: uppercase
    text-decoration: none
    font-size: 12px
    color: $grey--dark
    line-height: 16px
    transition: all 0.3s
    &:hover
      opacity: 0.9
