.menu--account
  margin-right: 40px
  >a
    display: flex
    align-items: center
    justify-content: flex-start
    text-decoration: none
    +link-two-colors($black, $primary)
    font-size: 14px
    line-height: 19px
    transition: all 0.3s
    .icon-profile
      margin-right: 9px
      svg path
        transition: all 0.3s
    &:hover
      svg path
        fill: $primary

  &:hover
    .menu--account__dropdown
      opacity: 1
      visibility: visible

  &__dropdown
    position: absolute
    left: 50%
    top: calc(100% + 20px)
    width: 290px
    min-height: 325px
    padding: 20px 27px
    background-color: $white
    border: 1px solid $border--light
    transform: translateX(-50%)
    text-align: left
    opacity: 0
    visibility: hidden
    transition: all 0.3s
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06)
    &:before
      content: ""
      position: absolute
      top: 0
      left: 50%
      margin-top: -7px
      margin-left: -6.5px
      width: 13px
      height: 13px
      background-color: $white
      border-left: 1px solid $border--light
      border-bottom: 1px solid $border--light
      transform-origin: center
      transform: rotate(135deg)

    ul
      +reset-box-model
      li
        list-style: none
        margin: 0 0 15px 0
        &:first-child
          margin-bottom: 12px
        &:last-child
          margin-bottom: 25px
        a
          display: flex
          align-items: center
          justify-content: flex-start
          font-size: 15px
          line-height: 21px
          text-decoration: none
          +link-two-colors($black, $primary)
          .icon
            width: 31px
            &-logo-collapsed
              width: 24px
              margin-right: 7px
              svg
                width: 100%

    .h4
      margin-bottom: 28px
      font-size: 18px
      line-height: 25px
      color: $grey--less-dark
      font-weight: 600

    .button
      float: none !important
