.messages
  padding-left: 65px
  border: 0
  background-color: $grey--light
  background-position: 19px 14px
  box-shadow: none
  border-radius: 0
  font-size: 16px
  line-height: 22px
  +mobile-only
    margin-bottom: 20px
  +desktop
    display: none

  &--status
    background-image: image-url("svg/check.svg")
    background-color: $success-bg
    color: $success

  &--warning
    background-image: image-url("svg/warning.svg")
    background-color: $warning-bg
    color: $warning


  &--error
    background-image: image-url("svg/cross.svg")
    background-color: $error-bg
    color: $error

  &--info
    background-image: image-url("svg/info.svg")
    background-color: $info-bg
    color: $info
