.plyr
  font-family: inherit
  &--audio
    .plyr__controls
      padding: 0
      border: 0
      color: $black
      button
        &:hover
          background-color: $info
    .plyr__progress--buffer
      background: rgba(216, 216, 216, 0.4)
      color: transparent
    .plyr__volume--display
      background: rgba(216, 216, 216, 0.4)
  &__progress--played,
  &__volume--display
    color: $info
