.site-header

  &__toggle
    display: block
    max-width: 38px
    max-height: 38px
    background-color: $grey--light
    border-radius: 8px
    line-height: 1em

    .hamburger-box
      width: 17px
      height: 13px

    +tablet
      display: none
