.site-footer
  padding: spacer(l) 0 spacer(xl) 0
  border-top: 1px solid $border

  &__logo
    display: block

    .icon-logo, svg
      width: 100%

  &__primary-nav
    margin-top: 25px
    +tablet
      margin-top: 0

  &__primary-nav,
  &__secondary-nav
    .menu
      +reset-box-model

    .menu-item
      text-align: center
      +tablet
        text-align: left

    a
      font-size: 14px
      line-height: 30px
      text-decoration: none
      +link-colors($black, $black)

  &__social
    font-size: 14px
    line-height: 30px
    color: $black
    text-align: center
    margin-top: 25px
    +tablet
      margin-top: 0
      text-align: left

    strong
      display: block
      margin-bottom: 1em
      font-weight: 900

    .icon
      margin-right: 10px
      +desktop
        margin-right: 17px

      &-rse_certified
        margin: spacer(m) auto 0 auto
        max-width: 100%
        +tablet
          margin-top: spacer(m)
        svg
          width: 100%

  &__dots
    display: block
    text-align: center
    +tablet
      display: none
  &__dot
    display: inline-block
    width: 4px
    height: 4px
    border-radius: 50%
    background-color: $grey--dot
