#toast-container
  +no-desktop
    display: none !important

  .toast
    font-size: 16px
    line-height: 22px
    background-position: 10px center
    background-repeat: no-repeat
    border-radius: 0
    opacity: 1
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06)
    transition: box-shadow 0.2s

  > div
    &:hover
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12)

  > .toast-info
    background-image: image-url("svg/info.svg") !important
    background-color: $info-bg
    &, .toast-close-button
      color: $info

  > .toast-warning
    background-image: image-url("svg/warning.svg") !important
    background-color: $warning-bg
    &, .toast-close-button
      color: $warning

  > .toast-error
    background-image: image-url("svg/cross.svg") !important
    background-color: $error-bg
    &, .toast-close-button
      color: $error

  > .toast-success
    background-image: image-url("svg/check.svg") !important
    background-color: $success-bg
    &, .toast-close-button
      color: $success

  .visually-hidden
    display: none

.toast-top-right
  transition: top 0.3s
  top: calc(81px + 12px) !important
  .sticky-header &
    top: calc(50px + 12px) !important
  .toast
    +desktop
      width: 400px !important
  .toolbar-fixed &
    top: calc(81px + 12px + 39px) !important
  .toolbar-horizontal &
    top: calc(81px + 12px + 79px) !important
  .toolbar-fixed.sticky-header &
    top: calc(50px + 12px + 39px) !important
