.path-user
  #block-stimbox-content
    +grid-media-container()
    padding: spacer(l) 0

  label
    display: block !important

  .form-item
    margin-bottom: spacer(m)

  #edit-entity-partner
    display: none
