.views
  &-element-container
    +grid-media-container()

  &--teams
    padding: 29px 0 34px 0
    margin-bottom: 40px
    background-color: $grey--light
    +desktop
      +span(6)
      +push(3)

    ul
      +reset-box-model
      +desktop
        +span(4 of 6)
        +push(1 of 6)
    li
      display: block
      position: relative
      height: 44px
      padding: 10px 25px 9px 18px
      margin-bottom: 10px
      list-style: none
      border: 1px solid $border
      background-color: $white
      color: $black

      &:after
        content: "\2013"
        position: absolute
        width: 27px
        height: 27px
        border-radius: 50%
        border: 1px solid $border
        right: -40px
        top: 50%
        margin-top: -13.5px
        text-align: center
        color: $black
        &:hover
          background-color: #F4997B

    .views-field-field-logo
      text-align: center
      margin-bottom: 8px

    .views-field-field-title
      padding-bottom: 20px
      margin-bottom: 23px
      font-size: 16px
      color: $black000
      font-weight: 900
      text-transform: uppercase
      text-align: center
      border-bottom: 1px solid $border
