<div class="container relative mfp-hide" id="advice-{{advice_id}}">
  <div class="av__popup av__popup--advice col-d--10 col-d--push1">
    <div class="av__popup-title">
      <div class="av__slide-title">
        <h3>{{ content.field_title }}</h3>
        {% if audio %}
        <a href="{{ audio['#url'] }}" class="circle circle--with-icon circle--toggle circle--small" data-audio-player-id="{{ audio['#id'] }}">
          <div class="icon icon-audio" data-grunticon-embed></div>
          <div class="icon icon-pause" data-grunticon-embed></div>
        </a>
        {% endif %}
      </div>
    </div>
    {% if audio %}
    <div class="av__slide-player" data-audio-player data-id="{{ audio['#id'] }}">
      <audio controls>
        <source src="{{ audio['#url'] }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
    {% endif %}
    <div class="col-d--push1 col-d--8of10">
      {{ content.field_text }}
    </div>
    <div class="pie-clearfix"></div>
    {% if content.field_example.0 %}
    <div class="av__popup-example">
      {{ content.field_example }}
    </div>
    {% endif %}
    <div class="av__popup__icon-icon">
      <div class="av__popup__icon-square"></div>
      <div class="icon icon-lightbulb" data-grunticon-embed></div>
    </div>
  </div>
</div>
