<div class="av__content">
  <div class="av__sidebar">
    <div class="av__tim av__tim--{{ content['#tim'] }}"></div>
    <div class="av__sections">
      <ul>
        {% for menu in sections_menu %}
        <li class="{% if menu.active %}active{% endif %}"><a href="#">{{ menu.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="av__slide">
    {{ content }}
    <ul class="slick-dots">
      {% for i in 1..elements['#total'] %}
      <li class="{% if i==elements['#index']%}slick-active{% endif %}"><button type="button" name="button">{{ i }}</button></li>
      {% endfor %}
    </ul>
    <div class="av__arrows">
      {% if elements['#index'] > 1 %}
      <a href="#" class="arrow arrow--left {{ content['#arrows']['prev']['classes']|join(' ') }}" data-slick-prev>{{"Previous"|t}}</a>
      {% endif %}
      <a href="#" class="arrow arrow--right {{ content['#arrows']['next']['classes']|join(' ') }}" data-slick-next>{{"Next"|t}}</a>
    </div>
  </div>
</div>
