<section class="paragraph__box dark">
  <h2>La Box</h2>
  <div class="paragraph__box-text col-t--10 col-t--push1">
    La S’TIMBOX est réalisée sous forme de box interactive et connectée qui vous fera vivre des moments uniques en équipe.
  </div>
  <div class="paragraph__box-wrapper container">
    <div class="paragraph__box-box">
      <img src="{{ base_path ~ directory }}/assets/images/box_recue_1200.png" alt="">
    </div>
    <div class="paragraph__box-tooltip paragraph__box-tooltip--1">
      <a href="#" class="paragraph__box-tooltip-plus">
        <div class="icon icon-plus" data-grunticon-embed></div>
        <div class="icon icon-minus" data-grunticon-embed></div>
      </a>
      <div class="paragraph__box-tooltip-title">Tooltip title</div>
      <div class="paragraph__box-tooltip-modal">
        <div class="paragraph__box-tooltip-modal-title">Tooltip title</div>
        <div class="paragraph__box-tooltip-modal-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel mi et magna finibus bibendum. Proin tempor consectetur libero ac maximus.</div>
      </div>
    </div>
    <div class="paragraph__box-tooltip paragraph__box-tooltip--2">
      <a href="#" class="paragraph__box-tooltip-plus">
        <div class="icon icon-plus" data-grunticon-embed></div>
        <div class="icon icon-minus" data-grunticon-embed></div>
      </a>
      <div class="paragraph__box-tooltip-title">Tooltip title</div>
      <div class="paragraph__box-tooltip-modal">
        <div class="paragraph__box-tooltip-modal-title">Tooltip title</div>
        <div class="paragraph__box-tooltip-modal-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel mi et magna finibus bibendum. Proin tempor consectetur libero ac maximus.</div>
      </div>
    </div>
    <div class="paragraph__box-tooltip paragraph__box-tooltip--3">
      <a href="#" class="paragraph__box-tooltip-plus">
        <div class="icon icon-plus" data-grunticon-embed></div>
        <div class="icon icon-minus" data-grunticon-embed></div>
      </a>
      <div class="paragraph__box-tooltip-title">Tooltip title</div>
      <div class="paragraph__box-tooltip-modal">
        <div class="paragraph__box-tooltip-modal-title">Tooltip title</div>
        <div class="paragraph__box-tooltip-modal-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel mi et magna finibus bibendum. Proin tempor consectetur libero ac maximus.</div>
      </div>
    </div>
  </div>
</section>
