<section class="paragaph__timeline" id="timeline">
  <h2>Déroulement de l'activité</h2>
  <div class="paragraph__timeline-text">
    Dès réception de la box, vous découvrirez un QR code personnalisé qui vous guidera dans les étapes de l’expérience.
  </div>
  <div class="paragraph__timeline-wrapper">

    <div class="paragraph__timeline-qrcode">
      <img src="{{ base_path ~ directory }}/assets/images/qrcode.jpg" alt="">
    </div>

    <div class="paragraph__timeline-step paragraph__timeline-step--primary paragraph__timeline-step--left">

      <div class="paragraph__timeline-title">
        <h4>Brise-Glace</h4>
        <div class="paragraph__timeline-title-number">1</div>
        <div class="paragraph__timeline-title-infos">Introduction de 5'</div>
      </div>

      <div class="clearfix dark">
        <div class="paragraph__timeline-inner container">

          <div class="paragraph__timeline-items">

            <div class="paragraph__timeline-item paragraph__timeline-item--wide">
              <h4>Démarrez l'expérience</h4>
              <p>Le brise-glace est l’activité essentielle pour permettre à tous les membres de votre équipe de se concenter sur la même tâche et entrer dans l’expérience de manière simple et ludique.</p>
            </div>

            <div class="paragraph__timeline-item paragraph__timeline-item--small">
              <p>Une fois que chaque personne est à l’aise dans l'équipe, l’activité principale peut prendre place.</p>
              <div class="paragraph__timeline-item-icon">
                <div class="icon icon-team" data-grunticon-embed></div>
              </div>
            </div>

          </div>

          <div class="paragraph__timeline-description">

            <div class="paragraph__timeline-description-image">
              <img src="{{ base_path ~ directory }}/assets/images/virtual_assistant.png" alt="">
            </div>
            <h4>Un assistant virtuel personnalisé</h4>
            <p>Tout au long de l’expérience, bénéficiez des instructions en direct de notre coach virtuel personnalisé qui vous guidera grâce à votre smartphone ou tablette. </p>

          </div>

        </div>
      </div>
    </div>

    <div class="paragraph__timeline-step paragraph__timeline-step--red paragraph__timeline-step--right">

      <div class="paragraph__timeline-title">
        <h4>Activité principale</h4>
        <div class="paragraph__timeline-title-number">2</div>
        <div class="paragraph__timeline-title-infos">Expérience de 20'</div>
      </div>

      <div class="clearfix dark">
        <div class="paragraph__timeline-inner container">

          <div class="paragraph__timeline-description">

            <div class="paragraph__timeline-description-image">
              <img src="{{ base_path ~ directory }}/assets/images/jeux_ludiques.png" alt="">
            </div>
            <h4>Des jeux ludiques et participatifs</h4>
            <p>Découvrez l’activité principale qui est représentée sous forme ludique (jeux de cartes, briques, invitations à la discussion, quizz, etc..)</p>

          </div>

          <div class="paragraph__timeline-items">

            <div class="paragraph__timeline-item paragraph__timeline-item--wide">
              <h4>Créez des liens</h4>
              <p>Il est temps de prendre part à l’activité principale de la S'TIMBOX. Cette dernière vous proposera une expérience ludique et participative.</p>
            </div>

            <div class="paragraph__timeline-item paragraph__timeline-item--wide">
              <h4>L’horloge tourne</h4>
              <p>L’assistant virtuel représenté par votre smartphone ou tablette, sera là pour vous rappeler les règles du jeu ainsi que le temps nécessaire à l’activité. Une fois écoulé, vous passerez à l’étape suivante.</p>
              <div class="paragraph__timeline-item-icon">
                <div class="icon icon-clock" data-grunticon-embed></div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="paragraph__timeline-step paragraph__timeline-step--orange paragraph__timeline-step--left">

      <div class="paragraph__timeline-title">
        <h4>Conclusion</h4>
        <div class="paragraph__timeline-title-number">3</div>
        <div class="paragraph__timeline-title-infos">Conclusion de 10'</div>
      </div>

      <div class="clearfix dark">
        <div class="paragraph__timeline-inner container">

          <div class="paragraph__timeline-items">

            <div class="paragraph__timeline-item paragraph__timeline-item--wide">
              <h4>Vous prendrez bien une petite gourmandise ?</h4>
              <p>Une activité de conclusion est prévue pour apporter à vos équipes un maximum d’énergie positive.</p>
              <div class="paragraph__timeline-item-icon">
                <div class="icon icon-candy" data-grunticon-embed></div>
              </div>
            </div>

          </div>

          <div class="paragraph__timeline-description">

            <div class="paragraph__timeline-description-image">
              <img src="{{ base_path ~ directory }}/assets/images/cup.png" alt="">
            </div>
            <h4>Passons au bilan</h4>
            <p>Chacune de ces S'TIMBOX sera ainsi un espace-temps de bien-être pour vos équipes.</p>

          </div>

        </div>
      </div>
    </div>

  </div>
</section>
