<section class="paragraph__addresses">
  <div class="container">
    <div class="" style="text-align: center">
      <a href="{{ path('entity.node.canonical', {'node': 5}) }}" class="button button--wide">Tenez vous au courant</a>
    </div>
    {% for i in 1..4 %}
    <div class="paragraph__address vcard col-d--3{% if loop.last %} col-d--last{% endif %} hidden">
      <div class="adr">
        <h4 class="locality">Annecy</h4>
        <span class="org">Diverty Events</span><br>
        <span class="street-address">4 bis rue des Platanes</span><br>
        <span class="postal-code">38120</span> <span class="locality">Annecy</span><br>
      </div>
      <span class="tel">+41 78 34 34 34</span>
      <div class="url"><a href="http://www.divertyevents.fr" target="_blank">www.divertyevents.fr</a></div>
      <div class="email">
        <a href="mailto:#" class="button button--small">Contacter</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
