<section class="paragraph__text-image paragraph__text-image--{{ text_image_disposition }}{% if content.field_dark_background.0['#markup'] == 1 %} dark {% endif %} {{ content.field_custom_class.0 }}">
  {% if content.field_title.0 %}<h2>{{ content.field_title }}</h2>{% endif %}
  <div class="paragraph__text-image-wrapper">
    <div class="paragraph__text-image-text col-t--10 col-t--push1">
      {{ content.field_text }}
      {% if content.field_image.0 and content.field_icon.0 %}
        <div class="paragraph__text-image-text-icon">
          {{ content.field_icon }}
        </div>
      {% endif %}
      <div class="paragraph__text-image-cta">
        {{ content.field_call_to_action }}
      </div>
    </div>
    {% if content.field_image.0 %}
    <div class="paragraph__text-image-image col-t--10 col-t--push1">
      {{ content.field_image }}
    </div>
    {% endif %}
    {% if content.field_icon.0 and not content.field_image.0 %}
    <div class="paragraph__text-image-icon">
      {{ content.field_icon }}
    </div>
    {% endif %}
  </div>
</section>
