<div class="av__slide-attendance">
  <div class="col-d--3of8 col-d--push1">
    <ul>
      <li><input type="checkbox" id="user1"> <label for="user1">Gérard</label></li>
      <li><input type="checkbox" id="user2"> <label for="user2">José</label></li>
      <li><input type="checkbox" id="user3"> <label for="user3">Juju</label></li>
      <li><input type="checkbox" id="user4"> <label for="user4">Charles-Henri</label></li>
    </ul>
  </div>
  <div class="col-d--3of8">
    <ul>
      <li><input type="checkbox" id="user5"> <label for="user5">Dylan</label></li>
      <li><input type="checkbox" id="user6"> <label for="user6">Joshua</label></li>
      <li><input type="checkbox" id="user7"> <label for="user7">Frodon-Saquet</label></li>
    </ul>
  </div>
  <div class="pie-clearfix"></div>
</div>
