{% set header_img_uri = file_url(content.field_image['#items'].entity.fileuri) %}

<div class="paragraph__header paragraph__header--{{ header_height }}" style="background-image:url( {{ header_img_uri }} )">
  <h1 class="paragraph__header-title">
    {% if is_front %}
    <span class="paragraph__header-slogan">
      Creator <span>Of Cohesion</span><br> Of Cohesion <span>Creator</span>
    </span>
    {% else %}
    {{ content.field_title }}
    {% endif %}
  </h1>
  <div class="paragraph__header-cta">
    {% if is_front %}
    <a href="#content">{{ "Visite guidée"|t }}</a>
    {% else %}
    {{ content.field_call_to_action }}
    {% endif %}
  </div>
</div>

<div class="messages--container container"></div>

<a id="content"></a>
