<section class="paragraph__text-image paragraph__text-image--centered">
  <h2>C'est parfait, votre compte est validé !</h2>
  <div class="paragraph__text-image-wrapper">
    <div class="paragraph__text-image-text col-t--10 col-t--push1">
      {% if go_to_cart.url %}
      <p>Vous pouvez désormais terminer votre processus de commande. </p><br>
      <a href="{{ go_to_cart.url }}" class="button button--inline-block button--primary">{{ 'Go to cart'|t }}</a>
      {% else %}
      <p>Vous pouvez continuer votre visite sur notre site.</p><br>
      <a href="{{ base_path }}" class="button button--inline-block">{{ 'Go back to home page'|t }}</a>
      {% endif %}
    </div>
  </div>
</section>
