<div class="paragraph__icon col-d--gallery4 col-t--gallery4">
  <div class="paragraph__icon-icon">
    <div class="paragraph__icon-square paragraph__icon-square--{{ icon_color }}"></div>
    <div class="icon icon-{{ icon_svg }}" data-grunticon-embed></div>
  </div>
  <div class="paragraph__icon-title">{{ content.field_title }}</div>
  <div class="paragraph__icon-text">{{ content.field_short_text }}</div>
  <div class="paragraph__icon-cta">{{ content.field_call_to_action }}</div>
</div>
