<section class="paragraph__icons m-t--l">
  <div class="container relative">
    {% if content.field_title.0 %}<h2>{{ content.field_title }}</h2>{% endif %}
    <div class="paragraph__icons-text">
      {{ content.field_text }}
    </div>
    <div class="paragraph__icons-wrapper m-t--l m-b--l clearfix">
      {{ content.field_icons }}
    </div>
    <div class="paragraph__icons-cta m-b--l clearfix">
      {{ content.field_call_to_action }}
    </div>
  </div>
</section>
