<div class="people col-d--gallery3">
  <div class="people__image">
    {{ content.field_image }}
  </div>
  <div class="people__content">
    <strong>{{ content.field_name }}</strong>
    <span class="people__function">{{ content.field_fonction }}</span>
    <a href="mailto:{{ email }}">{{ email }}</a>
  </div>
</div>
