<section class="paragraph__subscription">
  <p>Prenez part à une expérience de cohésion innovante.</p>
  <div class="paragraph__subscription-buttons">
    <a href="{{ path('entity.node.canonical', {'node': 1}) }}" class="button button--primary">{% trans %}Contact{% endtrans %}</a>
    <a href="{{ path('entity.node.canonical', {'node': 5}) }}" class="button">{% trans %}Subscribe{% endtrans %}</a>
  </div>
</section>
