<section class="paragraph__people">
  <div class="container">
    {% if content.field_title.0 %}<h2>{{ content.field_title }}</h2>{% endif %}
    <div class="members">
      {{ content.field_members }}
    </div>
  </div>
</section>
