<div class="paragraph__partner-register-form">
  <div class="container">
    <div class="col-d--8 col-d--push2">
      <h3>{{ "Créer un compte partenaire"|t }}</h3>
    </div>
    <div class="clear"></div>
    {{ partner_register_form }}
  </div>
</div>
