<div class="av__slide-example">
  <div class="av__slide-title">
    <h3>{{ content.field_title }}</h3>
    {% if audio %}
    <a href="{{ audio['#url'] }}" class="circle circle--with-icon circle--toggle circle--small" data-audio-player-id="{{ audio['#id'] }}">
      <div class="icon icon-audio" data-grunticon-embed></div>
      <div class="icon icon-pause" data-grunticon-embed></div>
    </a>
    {% endif %}
  </div>
  {% if audio %}
  <div class="av__slide-player" data-audio-player data-id="{{ audio['#id'] }}">
    <audio controls>
      <source src="{{ audio['#url'] }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  {% endif %}
  <div class="av__slide-example-text">
    {{ content.field_text }}
  </div>
  {{ content.field_slide_custom_list }}
</div>
