<section class="paragraph__form{% if grey_bg %} dark{% endif %}">
  <div class="container">
    {% if content.field_image.0 %}
    <div class="col-d--4 col-d--push1 paragraph__form-image">
      {{ content.field_image }}
    </div>
    {% else %}
    <div class="col-d--5">
      {{ content.field_text }}
    </div>
    {% endif %}

    {% if content.field_image.0 %}
    <div class="col-d--6 col-d--last">
      {{ content.field_text }}
      {{ content.field_webform }}
    </div>
    {% else %}
    <div class="col-d--push1 col-d--6 col-d--last">
      {{ content.field_webform }}
    </div>
    {% endif %}

  </div>
</section>
