<section class="paragraph__subscribe login">
  <div class="container">
    <div class="icon icon-clock-subscribe" data-grunticon-embed></div>
    <h2>Disponible prochainement</h2>
    <p>L’expérience commencera exclusivement le 1er février 2017. <br> Inscrivez-vous dès maintenant pour rester informé !</p>
    <div class="paragraph__subscribe-form">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//une-bonne-idee.us6.list-manage.com/subscribe/post?u=a6e2a1e913abae2dcb363e0db&amp;id=455f54a969" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
           <div id="mc_embed_signup_scroll">

             <div class="mc-field-group col-d--4 col-d--push2">
               <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-mail">
             </div>
             <div class="mc-field-group col-d--4">
               <input type="text" value="" name="COMPANY" class="required" id="mce-COMPANY" placeholder="Société">
             </div>
             <div id="mce-responses" class="clear">
               <div class="response" id="mce-error-response" style="display:none"></div>
               <div class="response" id="mce-success-response" style="display:none"></div>
             </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
             <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a6e2a1e913abae2dcb363e0db_455f54a969" tabindex="-1" value=""></div>
             <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button button--white"></div>
           </div>
         </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</section>
