.circle
  position: relative
  display: inline-block
  width: 51px
  min-width: 51px
  height: 51px
  margin-right: 10px
  border-radius: 50%
  background: $circle--grey
  text-align: center
  margin-bottom: 20px
  +tablet
    margin-bottom: 0

  &--small
    width: 42px
    height: 42px

  &--with-icon
    .icon
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)

      svg
        position: absolute
        top: 0
        left: 0

  &--yellow
    background-color: $circle--yellow

  &--toggle
    .icon
      display: none
      &:first-child
        display: block

  &.active.circle--toggle
    .icon
      display: none
    .icon:nth-child(2)
      display: block
