.av__slide-example
  margin-bottom: 28px
  +pie-clearfix
  h3
    font-weight: 700
    font-style: italic
    font-size: rem(26px)
    line-height: rem(36px)

  ul
    +reset-box-model

  li
    display: flex
    justify-content: flex-start
    align-items: flex-start
    margin-bottom: 20px
    list-style: none
    font-size: 26px
    line-height: 37px
    font-style: italic
    +clearfix

    .icon
      width: 60px
      margin-right: 25px
      img
        float: right

    p:last-child
      margin-bottom: 0


  &-text
    font-size: 26px
    line-height: 37px
    font-style: italic
    margin-bottom: 28px
