.mfp-bg
  background-color: rgba(101, 194, 200, 0.5)
  background-color: rgba(0, 0, 0, 0.5)

button.mfp-close
  display: block
  padding: 0
  width: 30px
  height: 28px
  top: 10px
  right: 0
  background-image: image-url('svg/close.svg')
  background-position: center center
  opacity: 1
  +hide-text
  +tablet
    top: 20px
    right: 20px
  +av-desktop
    top: 28px
    right: 110px

  &:active
    top: 28px
