.av__popup
  position: relative
  padding: 70px 15px 20px 15px
  background: $white
  text-align: center
  font-size: 16px
  line-height: 24px
  filter: drop-shadow(0 0 8px rgba(54,54,54,0.29))
  +tablet
    padding: 70px 0 56px 0
    font-size: 21px
    line-height: 33px

  &:before
    content: ""
    position: absolute
    left: calc(50% - 40px)
    top: -40px
    width: 80px
    height: 80px
    background-color: $white
    transform: rotate(45deg)
    z-index: -1


  &-title
    display: flex
    align-items: center
    justify-content: center
    margin: 0 0 20px 0
    h3
      margin: 0
      font-size: 24px
      line-height: 32px
      font-weight: 900
      +tablet
        font-size: 32px
        line-height: 44px

    .circle
      margin-left: 12px


  &-example
    margin: 40px 30px 0 30px
    padding: 20px 30px 30px 30px
    background-color: $grey--light
    font-style: italic
    color: rgba(107, 107, 107, 0.6)

  &-actions
    margin-top: 20px
    +tablet
      margin-top: 43px
    +mobile-only
      .button
        padding: 8px
        font-size: 14px

  &__icon
    &-icon
      position: absolute
      height: 80px
      left: calc(50% - 40px)
      top: -34px
      .icon
        +centered
    &-square
      width: 80px
      height: 80px
      margin: 0 auto spacer(l) auto
      border: 4px solid $orange
      transform: rotate(-45deg)
      &--red
        border-color: $red
      &--orange
        border-color: $orange

  .av__slide-player
    padding: 0 30px
