{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <div class="checkout clearfix">

    <div class="checkout__summary">
      {{ form.order_summary }}
    </div>

    <div class="checkout__coupons hidden">
      {{ form.coupons|without('apply') }}
      <div class="clear"></div>
    </div>

    <div class="clear"></div>

    <div class="col-d--6 checkout__form">
      {{ form|without('order_summary', 'actions', 'coupons') }}
    </div>

    <div class="clear"></div>

    <div class="checkout__actions m-t--xl m-b--xl">
      {{ form.actions }}
    </div>

  </div>
</div>
