{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article class="commerce-product">
  <div class="container">
    <div class="commerce-product__image col-d--7">
      {{ product.field_product_image }}
    </div>
    <div class="col-d--4 col-d--push1 col-d--last">
      <h3>{{ product.title }}</h3>
      {{ product.body }}
      <h3 class="commerce-product__price">{{ product.variation_price }}</h3>
      {{ product.variations }}
    </div>
  </div>
</article>
