{#
/**
 * @file
 * Default theme implementation for the checkout progress.
 *
 * Available variables:
 * - steps: An array of steps, where each step has the following keys:
 *   - id: The step ID.
 *   - label: The step label.
 *   - position: 'previous', 'current' or 'next'.
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <ol class="checkout-progress clearfix">
    {% for step in steps %}
      {% if loop.last and step.position == 'current' %}
        {% set position = 'previous' %}
      {% else %}
        {% set position = step.position %}
      {% endif %}
      <li class="checkout-progress--step checkout-progress--step__{{ position }}">
        <div class="checkout-progress--step__index">{{ loop.index }}</div>
        <span class="checkout-progress--label">{{ step.label }}</span>
      </li>
      {% if loop.index < loop.length %}
      <li class="checkout-progress--line"></li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
