{% if count %}
<div{{ attributes}}>
  <div class="cart-block--summary">
    <a class="cart-block--link__expand hidden-mobile" href="{{ url }}">
      <span class="icon-basket" data-grunticon-embed></span>
    </a>
    <a class="cart-block--link__expand hidden-desktop hidden-tablet" href="{{ url }}">
      {{ "My cart"|t }}
    </a>
  </div>
</div>
{% endif %}

<div class="hidden-desktop">
{% if logged_in %}
<a href="{{ url('s_timbox', {'tab': 'account'}) }}">Mon compte</a><br />
<a href="{{ base_path }}user/logout">Se déconnecter</a>
{% else %}
<a href="{{ base_path }}user" class="button button--naked desktop-only">{{"S'identifier"|t}}</a>
{% endif %}
</div>
