{#
/**
 * @file
 * Template for the order receipt.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - billing_information: The rendered billing information.
 * - shipping_information: The rendered shipping information.
 * - payment_method: The rendered payment method.
 * - totals: An array of order totals values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: An array of adjustment totals:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - total: The adjustment total price.
 *     - weight: The adjustment weight, taken from the adjustment type.
 *   - total: The order total price.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:title" content="{{ 'Order Confirmation'|t }}" />
    <title>{{ 'Order Confirmation'|t }}</title>
    <style type="text/css">
      #outlook a{padding:0;}
      body{width:100% !important;}
      body{-webkit-text-size-adjust:none;}
      body{margin:0; padding:0;}
      img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
      table td{border-collapse:collapse;}
    </style>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <table cellspacing="0" cellpadding="0" style="margin: 0 auto; width: 600px; max-width: 600px; font-family: Arial,sans-serif; font-size: 16px; line-height: 17px;">
      <tbody>
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" style="width: 600px; max-width: 600px; text-align: center; font-size: 16px;">
            <tbody>
              <tr>
                <td style="height: 33px">&nbsp;</td>
              </tr>
              <tr>
                <td style="text-align: center;">
                  <a href="{{ url('<front>') }}" style="text-decoration: none; ">
                    <img src="https://s30.postimg.org/kn339o3z5/stimbox_logo.png" alt="">
                  </a>
                </td>
              </tr>
              <tr>
                <td style="height: 47px">&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" style="text-align: center; min-width: 600px;">
            <tbody>
            <tr>
              <td style="font-size: 24px; line-height: 27px; text-transform: uppercase; font-weight: normal;">
                {{ 'Order Confirmation'|t }}
              </td>
            </tr>
            <tr>
              <td style="height: 8px">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <table cellspacing="0" cellpadding="0" style="text-align: center">
                  <tr>
                    <td style="height: 4px; width: 272px;"></td>
                    <td style="height: 4px; width: 56px; background-color: #65C2C8"></td>
                    <td style="height: 4px; width: 272px;"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="height: 54px">&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left; font-size: 22px; line-height: 25px;">
                {{ 'Order #@number details:'|t({'@number': order_entity.getOrderNumber}) }}
              </td>
            </tr>
            <tr>
              <td style="height: 33px">&nbsp;</td>
            </tr>
            <tr>
              <td>
                {% block order_items %}
                <table cellspacing="0" cellpadding="0" style="padding-top: 15px; padding-bottom:15px; width: 100%; background-color: rgba(216, 216, 216, 0.2); text-transform: uppercase;">
                  <tbody style="text-align: left;">
                  {% for order_item in order_entity.getItems %}
                  <tr>
                    <td>
                      {{ order_item.getQuantity|number_format }} x
                    </td>
                    <td>
                      <span>{{ order_item.label }}</span>
                    </td>
                    <td>
                      <span>{{ order_item.getTotalPrice|commerce_price_format }}</span>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
                {% endblock %}
              </td>
            </tr>
            <tr>
              <td style="height: 28px">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <p style="margin: 0; font-size: 16px; line-height: 17px; text-align: left; margin-bottom: 8px;">Bienvenue parmi nos heureux clients S’TIMBOX !</p>
                <p style="margin: 0; font-size: 16px; line-height: 17px; text-align: left;">Nous vous ferons parvenir une facture sous forme électronique dans les heures qui suivent. Dès réception du paiement, nous procéderons à l'envoi de votre commande.</p>
              </td>
            </tr>
            <tr>
              <td style="height: 55px">&nbsp;</td>
            </tr>
            <tr>
              <td style="border-top: 1px solid rgba(151, 151, 151, 0.3); border-bottom: 1px solid rgba(151, 151, 151, 0.3);">
                <p style="font-size: 20px; font-weight: bold; padding-top: 21px; padding-bottom: 22px; margin: 0; text-align: left;">
                  {{ 'Order Total: @total'|t({'@total': order_entity.getTotalPrice|commerce_price_format}) }}
                </p>
              </td>
            </tr>
            <tr>
              <td style="height: 80px">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <p style="font-size: 12px; line-height: 18px; margin-bottom: 8px; text-align: left;">
                  <strong>Modalités d’abonnement:</strong> Pour tout nouvel abonnement souscrit entre le 1er le 15 du mois, vous recevrez votre première box le 1er du mois suivant (ex: commande le 01.01, vous recevez votre box le 1er février). En revanche, si vous effectuez votre commande entre le 16 et le 30 d'un mois, vous recevrez votre box le 1er du mois d'après (ex: commande le 16.01 vous recevez votre box le 1er mars).
                </p>
                <p style="font-size: 12px; line-height: 18px; text-align: left;">
                  <strong>Contacts:</strong> <a href="mailto:info@s-timbox.com" style="color: #65C2C8;">info@s-timbox.com</a> / +33 4 38 02 13 83 (France) ou +41 26 409 70 01 (Suisse)
                </p>
              </td>
            </tr>
            <tr>
              <td style="height: 100px">&nbsp;</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </body>
</html>
