.account

  &__intro
    margin-top: 62px
    text-align: center
    +desktop
      +span(8)
      +push(2)

  &__company, &__teams, &__subscriptions
    margin: 50px 0
    text-align: center
    background-color: $grey--light
    +desktop
      +span(6)

    .header
      height: 124px
      max-height: 124px
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      border-bottom: 1px solid $border

      img
        display: block
        margin: 0 auto
        max-height: 60px

      h3
        margin: 0
        padding: 0
        border: 0
        font-size: 16px
        line-height: 25px
        font-weight: 900

    .content
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      height: 222px
      max-height: 222px
      padding: 26px 0 33px 0
      .icon
        margin: 0 auto 10px auto
        height: 24px
        svg
          height: 100%
      .user__wrapper
        margin-bottom: 18px
      .button__wrapper
        padding: 0 22px
        margin-top: auto
        +tablet
          padding: 0

  &__subscriptions, &__teams
    +tablet
      +last
    .header h3
      position: relative
      margin-top: 0 !important
      padding-top: 46px
      &:before
        content: ""
        position: absolute
        width: 55px
        height: 38px
        background: image-url('svg/team-picto.svg') center center no-repeat
        top: 0
        left: 50%
        margin-left: -27.5px

  &__subscriptions
    .header h3
      text-transform: none
      &:before
        background-image: image-url('svg/calendar.svg')

  &__teams
    .header h3:before
      background-image: image-url('svg/team-picto.svg')
    .content
      padding-top: 42px
