.account
  &__advert-introduction
    margin-top: 38px
    text-align: center
    +desktop
      +span(8)
      +push(2)

    .image
      margin-top: 31px
      margin-bottom: 24px
      +desktop
        +span(4 of 8)
        +push(2 of 8)

      img
        display: block
        width: 100%
        height: auto

  &__partner-profile-form,
  &__preview-advert
    margin-bottom: 50px
    +desktop
      +span(6)

  &__preview-advert
    +desktop
      +last

    .preview
      width: 100%
      padding: 51px 52px 61px 52px
      margin-top: 23px
      border: 1px solid $grey--line
      text-align: center

      h2
        margin-top: 0

      &__logo
        margin: 38px 0 23px 0
        img
          display: block
          max-width: 194px
          max-height: 71px
          margin: 0 auto

      &__text
        margin-bottom: 39px

      &__website
        color: $primary

  &__partner-subscriptions
    margin-top: 35px
    margin-bottom: 50px
    +desktop
      +span(6)
      &--commission
        +last

  &__customer-subscriptions
    margin-top: 35px
    margin-bottom: 50px
    .col
      +desktop
        +span(4)
      &--last
        +last

  &__partner-subscriptions, &__customer-subscriptions
    table
      width: 100%
      caption
        margin: 0 0 30px 0
        padding: 0 0 4px 0
        border-bottom: 1px solid $border
        font-size: 16px
        line-height: 25px
        font-weight: 900
        text-align: left
        text-transform: uppercase
      tbody
        color: $black
        tr
          td
            width: 50%
            padding-bottom: 10px
            line-height: 25px
            vertical-align: top
            &:nth-child(even)
              font-weight: 900
