.account
  &__customer-history
    margin-bottom: 68px
    table
      width: 100%
      color: $black
      tbody
        tr
          &.even td
            background-color: #F8F8F8
          td
            width: 25%
            padding: 22px 10px

    .link
      position: relative
      +link-two-colors($black, $primary)
      text-decoration: none
      padding-left: 27px

      &:before
        content: ""
        position: absolute
        left: 0
        top: 0
        width: 21px
        height: 21px
        background: center center no-repeat

      &--pdf:before
        background-image: image-url('svg/pdf.svg')
