.account
  h3
    padding-bottom: 3px
    margin-bottom: 23px
    font-size: 16px
    line-height: 22px
    text-transform: uppercase
    border-bottom: 1px solid $border
    &:first-child
      margin-top: 53px

  &__user-form, &__billing-form, &__partner-profile-form
    margin-bottom: 50px
    .form-actions
      clear: both
      margin-top: 56px
      input[type="submit"]
        width: 100%
        +tablet
          width: auto
    .form-item
      +pie-clearfix
      +desktop
        display: flex
        align-items: center
        justify-content: space-between
      label
        display: block
        margin-right: auto
      input, select, .form-textarea-wrapper
        +desktop
          +span(6 last)
      .description
        display: none
      &.form-item-field-logo-0-alt
        display: none
      &.form-type-managed-file, &.form-type-textarea
        label
          align-self: flex-start
      .image-widget
        position: relative
        +desktop
          +span(6 of 12 last)
          input
            width: 100%

      &-pass
        display: block
        flex: none
        .form-item
          .password-suggestions, div.password-confirm
            display: none
          +desktop
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 1em
            flex-flow: row wrap
            .password-strength
              flex-grow: 0

  &__billing-form
    summary
      display: none
    details
      border: 0
      margin: 0
    .details-wrapper
      padding: 0
    .address-container-inline
      .form-item
        width: 100%
        +desktop
          display: flex
          width: 100%
          label
            margin-right: auto
    +desktop
      +span(6)
