.form__introduction
  padding-top: 62px
  text-align: center
  +desktop
    +span(8)
    +push(2)

.form-wrapper

  &__teams
    +spacer(margin-top, xl)
    margin-bottom: 40px
    padding-top: 29px
    padding-bottom: 34px
    background-color: $grey--light
    +pie-clearfix

    +desktop
      +span(6)
      +push(3)

  &__header
    position: relative
    padding-bottom: 20px
    margin-bottom: 23px
    text-align: center
    border-bottom: 1px solid $border
    &, .form-item
      +pie-clearfix
    .form-item
      margin: 0

    img
      display: inline-block
      margin-bottom: 8px
      max-height: 80px

    input[type="text"]
      font-size: 16px
      line-height: 22px
      font-weight: 900
      text-align: center
      transition: all 0.2s
      &:read-only
        background-color: $grey--light
        border-color: $grey--light
        text-transform: uppercase
      +desktop
        +span(4 of 6)
        +push(1 of 6)

    input[type="submit"]
      position: absolute
      right: 18px
      top: 0
      padding: 6px 7px
      font-size: 10px
      line-height: 14px
      font-weight: 400
      border-radius: 4px

    .form-type-managed-file
      margin-bottom: 20px

    .form-item-team-infos-title
      position: relative
      padding-top: 46px
      &:before
        content: ""
        position: absolute
        width: 55px
        height: 38px
        background: image-url('svg/team-picto.svg') center center no-repeat
        top: 0
        left: 50%
        margin-left: -27.5px


  &__members-size
    display: block
    margin: 0 auto 22px auto
    text-align: center
    color: $black

    strong
      background: image-url('svg/team--small.svg') left center no-repeat
      padding-left: 30px

  &__members
    padding: 0 15px
    +desktop
      +span(3.5 of 6)
      +push(1 of 6)
      padding: 0

    fieldset
      display: none

  &__actions
    padding-bottom: 62px
    clear: both
    text-align: center

  &__add-member
    display: none
    position: relative
    margin-bottom: 25px
    +desktop
      +span(3.5 of 6)
      +push(1 of 6)
      input
        &, &:hover
          width: 100%
          padding: 18px 21px 18px 65px
          background-color: transparent
          color: $primary
          border: 1px dashed $primary
          font-weight: 400
    &:before
      content: "+"
      position: absolute
      left: 70px
      top: 50%
      width: 28px
      height: 28px
      margin-top: -14px
      background-color: $primary
      border-radius: 50%
      color: $white
      text-align: center
      font-weight: 400
      line-height: 28px
      font-size: 24px
      +font-smoothing


  &__member
    position: relative
    transition: max-height 0.3s ease
    margin-right: 46px
    +tablet
      margin-right: 0

    .icon-sex
      position: absolute
      right: 13px
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
      &--f
        .icon-male
          display: none
      &--m
        .icon-female
          display: none

    .button__wrapper
      position: absolute
      right: calc(-21px - 27px)
      top: 50%
      margin-top: -calc(27px / 2)
      width: 27px
      height: 27px
      &:after, &:before
        content: ""
        position: absolute
        width: 10px
        height: 1px
        top: 50%
        left: 50%
        margin-left: -5px
        background-color: $black
        transition: all 0.2s
      &:after
        opacity: 0
      &:hover, &.hover
        &:before
          transform: rotate(45deg)
        &:after
          transform: rotate(-45deg)
          opacity: 1
        .button
          background-color: $error
          border-color: $error
      .button
        padding: 0
        margin: 0
        background: none
        width: 27px
        height: 27px
        border: 1px solid #d2d2d2
        border-radius: 50%
        +hide-text

    &--clone
      //display: none
    &--deleted
      &, .button__wrapper
        display: none
