.cart
  padding: 110px 0

  .form-actions
    padding-top: 30px
    border-top: 1px solid $border
    text-align: center
    +desktop
      text-align: right

    input
      &:last-child
        margin-right: 0

  &.cart-form .form-actions
    input
      +mobile-only
        display: block !important
        width: 100% !important
      &:first-child
        display: none
        @extend %button
        @extend %button--inline-block
        color: $primary

  &--cart-block
    margin-bottom: 1em
    +tablet
      margin-bottom: 0
      margin-right: spacer(m)

  +mobile-only
    th, td
      &.views-field-unit-price__number,
      &.views-field-remove-button
        display: none
      &.views-field-total-price__number
        text-align: right

  .view-content
    +desktop
      +grid-media-container()

  &-empty-page
    +grid-media-container()
    padding: spacer(l) 0

.block-commerce-cart
  a
    text-transform: uppercase
    text-decoration: none
    font-size: 12px
    color: $grey--dark
    line-height: 16px
    transition: all 0.3s
    &:hover
      opacity: 0.9
