.layout-checkout-form
  +grid-media-container
  position: relative
  margin: 70px 0 90px 0

  .form-item
    +mobile-only
      padding: 0 spacer(m)

  .form-wrapper
    padding: 40px 0 50px 0
    background-color: $grey--light
    fieldset
      &:last-child,
      &.form-wrapper__guest-checkout
        +desktop
          +push(2)
    &:first-child
      +desktop
        &:after
          content: ""
          position: absolute
          height: 100%
          width: 1px
          background-color: $border
          left: 50%
          top: 0
          z-index: 100

  fieldset
    border: 0
    text-align: center
    +desktop
      +span(4)
      +push(1)
    legend
      @extend %h2
    &.form-wrapper__guest-checkout
      text-align: left
      input[type="submit"]
        display: block
        margin: 0 auto

  .form-wrapper__returning-customer
    +mobile-only
      margin-bottom: spacer(l)
      border-bottom: 1px solid $border

  .form-item-login-register-name
    display: none

.checkout-progress
  li
    +reset-box-model
    width: 100%

  display: flex
  width: 100%
  padding: spacer(xl) 0 spacer(m) 0
  justify-content: space-between
  align-items: flex-start
  flex-direction: row
  margin: 0
  text-align: center
  font-size: 11px
  line-height: 25px
  overflow-x: auto
  +desktop
    padding: spacer(xl) 0
    justify-content: space-between
  &--label
    display: inline-block
    padding: 0 spacer(m)
    text-align: center
    font-size: 9px
    line-height: 14px
    +desktop
      padding: 0 spacer(m)
      font-size: inherit
      line-height: inherit
  &--step
    &:before
      display: none
    &__current
      font-weight: 300
    &__index
      position: relative
      width: 30px
      height: 30px
      margin: 0 auto spacer(s) auto
      font-size: 14px
      line-height: 30px
      z-index: 100
      .checkout-progress--step__current &
        color: $white
      .checkout-progress--step__previous &
        color: transparent
      &:before
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: -1
        border: 1px solid $black
        transform: rotate(45deg)
        .checkout-progress--step__current &
          background-color: $primary
          border: 0
        .checkout-progress--step__previous &
          background-color: $success
          border: 0
      &:after
        display: none
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: image-url('svg/checkbox_white.svg') center center no-repeat
        .checkout-progress--step__previous &
          display: block
  &--line
    +desktop
      width: 100%
      height: 1px
      background-color: $border
      transform: translateY(14px)

.checkout
  &__summary
    margin-bottom: 80px
    .view-content
      padding-bottom: spacer(l)
      margin-bottom: spacer(l)
      border-bottom: 1px solid $border
    table
      width: 100%
      th
        padding-bottom: 20px
        font-weight: 900
        text-transform: uppercase
      .views-field-total-price__number
        text-align: right
    .view-footer
      padding: 22px 25px
      background-color: $grey--light
      .order-total-line-label
        text-transform: uppercase
      .order-total-line__total
        font-weight: 900
      .order-total-line__subtotal
        display: none
      +desktop
        +span(6)
        +last

  &__form
    .form-item
      display: block !important
      clear: both
      margin-right: 0 !important
      &.form-type-select:after
        top: calc(50% + 12px) // line-height divised by 2
    fieldset
      padding: 0
      margin: 0
      border: 0
    legend
      display: block
      width: 100%
      margin-bottom: 40px
      font-size: 16px
      font-weight: 900
      line-height: 22px
      color: #000
      text-transform: uppercase
      border-bottom: 1px solid $border
    label
      display: block

    .form-item-agree-terms-terms-and-conditions
      margin-top: spacer(l)
      em
        font-style: normal

#edit-completion-message
  +grid-media-container
  padding: 0
  background-color: transparent
  &:after
    display: none

.form-wrapper__guest-checkout
  max-height: auto
  overflow: hidden
  transition: max-height 0.3s

.order-total-line
  padding: 0
