.coupon
  +pie-clearfix
  label
    display: inline-block !important
    margin-right: 14px
    font-size: 16px
    white-space: nowrap
  .form-item
    margin: 0
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between
  .description
    display: none

  .checkout__coupons
    padding-bottom: 17px
    margin-bottom: 17px
    border-bottom: 1px solid $border
