// Spacing.
$menu-toggle__width: 39px !default
$menu-toggle__height: 39px !default
$menu-toggle__bar-height: 5px !default
$menu-toggle__bar-spacing: 1px !default
$menu-toggle__padding: 6px !default

// Colors.
$menu-toggle__color: $primary !default

.menu-toggle
  +hide-text
  display: block
  position: absolute
  overflow: hidden
  appearance: none
  border: 0
  background: none
  border-radius: 0
  cursor: pointer
  width: $menu-toggle__width
  height: $menu-toggle__height
  text-indent: -9999px

  span
    top: ($menu-toggle__height / 2) - ($menu-toggle__bar-height / 2)
    left: $menu-toggle__padding
    right: $menu-toggle__padding

    &, &:before, &:after
      transition: all 0.3s $easeOutCubic
      display: block
      position: absolute
      height: $menu-toggle__bar-height
      background: $menu-toggle__color

    &:before, &:after
      content: ""
      width: 100%

    &:before
      top: -$menu-toggle__bar-spacing - $menu-toggle__bar-height * 1.5

    &:after
      top: $menu-toggle__bar-spacing + $menu-toggle__bar-height * 1.5

  &--active
    span
      background: transparent

      &:before
        top: 0
        transform: rotate(-45deg)

      &:after
        top: 0
        transform: rotate(45deg)
