.paragraph__address
  margin-bottom: 33px
  font-size: 14px
  color: $black
  line-height: 19px
  text-align: center
  +tablet
    margin-bottom: 0
    text-align: left

  h4
    margin: 0 0 spacer(m) 0
    font-size: 16px
    color: $grey--dark
    line-height: 22px
    font-weight: 900

  .url
    margin-top: spacer(m)
    a
      +link-colors($primary, $primary)
      text-decoration: none
      font-weight: 900

  .email
    margin-top: spacer(s)
