.paragraph__box

  &-text
    margin-top: spacer(l)
    text-align: center
    font-size: 18px
    line-height: 27px
    +desktop
      padding: 0 span(3)

  &-wrapper
    position: relative
    img
      display: block
      width: 100%

  &-box
    text-align: center
    +desktop
      margin-top: -100px
      transform: translateY(120px)

  &-tooltip
    display: block
    display: none !important
    position: relative
    margin: 0 -22px
    border-top: 1px solid rgba(107, 107, 107, 0.12)

    +tablet
      position: absolute
      display: block
      margin: 0
      border: 0

      &--1
        left: 8%
        top: 37%
      &--2
        left: 30%
        top: 60%
        +desktop
          top: 67%
      &--3
        left: 72%
        top: 24%
        +desktop
          top: 9%
    &-title
      display: block
      display: none
      width: 100%
      padding: 26px 0
      font-size: 16px
      line-height: 22px
      color: #000
      text-transform: uppercase
      font-weight: 900
      text-align: center
      +tablet
        display: none
    &-plus
      display: none !important
      position: absolute
      display: inline-block
      left: 21px
      top: 15px
      width: 45px
      height: 45px
      border-radius: 50%
      background-color: rgba(255, 255, 255, 0.8)
      transform-origin: center
      transition: all 0.3s
      +tablet
        width: 70px
        height: 70px
        float: none

      &:before
        content: ""
        +centered
        width: 45px
        height: 45px
        border-radius: 50%
        background-color: $primary
        transform-origin: left top
        transition: all 0.3s
        .paragraph__box-tooltip--open &
          +mobile-only
            background-color: $black

      .icon
        +centered
        &-minus
          visibility: hidden
        +mobile-only
          &-minus
            top: 7.5px
            opacity: 0
            visibility: visible
            .paragraph__box-tooltip--open &
              opacity: 1
          &-plus
            .paragraph__box-tooltip--open &
              opacity: 0

    &:hover
      .paragraph__box-tooltip-plus
        transform: scale(1.25)
        &::before
          transform: scale(0.9) translate(-50%, -50%)

      .paragraph__box-tooltip-modal
        opacity: 1
        transform: translate(-50%, 0)
        visibility: visible

    &-modal
      position: relative
      display: none
      width: 100%
      padding: 0 spacer(l)
      margin-bottom: spacer(m)
      text-align: center
      .paragraph__box-tooltip--open &
        display: block
      +tablet
        position: absolute
        display: block
        width: 319px
        height: 190px
        padding: 22px 38px 30px 38px
        margin-bottom: 0
        bottom: 15px
        left: 55px
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10)
        border-radius: 8px
        background: $background
        transform: translateX(-50%)
        opacity: 0
        transition: all 0.3s
        transform: translate(-50%, -50px)
        z-index: 100
        visibility: hidden
        &:before
          position: absolute
          content: ""
          width: 50%
          height: 20px
          bottom: 0
          left: 0
          background-color: $background
          z-index: 100
        &:after
          position: absolute
          content: ""
          width: 20px
          height: 20px
          bottom: -10px
          left: 50%
          background-color: $background
          transform: translateX(-50%) rotate(45deg)
          box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10)
          z-index: 99

      &-title
        display: none
        +tablet
          display: block
        @extend %h2
        padding: 0
        margin: 0
        font-size: 16px
      &-content
        font-size: 13px
        line-height: 18px
        color: $black
        +tablet
          margin-top: 20px
