.paragraph__form

  .form-item
    margin: 0 0 14px 0
    +desktop
      +span(6 of 12)
      &:nth-child(even)
        +last
      &.form-type-textarea
        +span(12 of 12)
        margin: 0

  .form-wrapper
    +pie-clearfix
  .form-actions
    clear: both

  input, textarea
    width: 100%
    padding: 10px 16px
    border: 1px solid $border
    font-size: 14px
    line-height: 25px

    &[type="submit"]
      @extend %button
      @extend %button--primary
      @extend %button--block
      margin-top: 14px
      +desktop
        +span(3 of 6)
        +last

  label
    display: none

  .form--horizontal
    margin-top: 14px
    +pie-clearfix
    .form-actions
      +desktop
        clear: none
        +last
        +span(4 of 12)
        margin: 0
        input
          margin: 0
          width: 100%

  #edit-fieldset1
    +pie-clearfix
  #edit-fieldset2
    transition: all 0.3s
    opacity: 0
    height: 0
    visibility: hidden
    .form-item
      height: 0
    &.fieldset--visible
      margin-top: 70px
      opacity: 1
      height: auto
      visibility: visible
      .form-item
        height: auto

  .yamlform-select-other-input
    margin-top: 14px
  .form__next
    +pie-clearfix
    float: none
    clear: both
    padding-top: 19px
    text-align: center
    opacity: 1
    transition: all 0.3s
    &--hidden
      height: 0
      opacity: 0
    .icon
      display: inline-block

  &-header
    font-size: 16px
    line-height: 25px
  &-header-image
    img
      width: 100%
  &-image
    img
      display: block
      width: 100%
      height: auto
