.paragraph__header
  position: relative
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  height: 226px
  background-size: cover
  background-position: center center
  +font-smoothing
  &--full
    height: calc(100vh - 153px)
    background-attachment: fixed
    +tablet
      height: calc(100vh - #{$desktopHeaderHeight})
  &--fixed


  &-image
    img
      width: 100%
      max-width: 100%

  &-title
    margin: 0
    padding: 0 spacer(m)
    color: #fff
    font-size: 36px
    text-transform: uppercase
    font-weight: 700
    line-height: 49px
    text-align: center
    .paragraph__header--full &
      position: absolute
      width: span(8 of 12)
      padding: 0
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  &-cta
    .paragraph__header--full &
      position: absolute
      bottom: 97px
      left: 50%
      transform: translateX(-50%)
    a
      @extend %button
      @extend %button--white
      margin-top: 30px

  &-slogan
    display: block
    font-size: 23px
    text-align: center
    +mobile-only
      line-height: 20px
    +tablet
      font-size: 55px
    +desktop
      font-size: 60px
    span
      display: inline-block
      opacity: 0.7
      transform: scale(-1, -1) translateY(0)
