.paragraph__icon
  position: relative
  margin-bottom: spacer(l)
  text-align: center
  overflow: visible
  +desktop
    padding-left: span(1)
    padding-right: span(1)
    margin-bottom: 0
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0

  &-icon
    position: relative

    .icon
      +centered

  &-square
    width: 80px
    height: 80px
    margin: 0 auto spacer(l) auto
    border: 4px solid $primary
    transform: rotate(-45deg)
    &--red
      border-color: $red
    &--orange
      border-color: $orange

  &-title
    margin-bottom: 15px
    font-size: 16px
    color: $grey--dark
    text-transform: uppercase
    line-height: 22px
    font-weight: 600

  &-text
    line-height: 19px
    font-size: 14px
    font-weight: 300

  +desktop
    &:first-child, &:nth-child(2)
      &:after
        content: ""
        position: absolute
        width: 180px
        height: 30px
        top: 10px
        right: -85px
        background-image: image-url('svg/arrow.svg')
        background-size: contain
        background-repeat: no-repeat
        background-position: center center

    &:nth-child(2)
      &:after
        right: -115px
        background-image: image-url('svg/arrow.svg')

  &-cta
    text-align: center
    a
      @extend %button
      @extend %button--small
      margin-right: 0
      margin-top: spacer(m)
