.paragraph__icons
  &-text
    text-align: center
    font-size: 18px
    line-height: 27px
    +tablet
      padding: 0 span(1)
    +desktop
      padding: 0 span(2)

  &-wrapper
    width: 100%
    overflow: visible

  &-cta
    text-align: center
    a
      @extend %button
