.members
  margin-top: 57px
.people
  position: relative
  margin-bottom: 27px
  overflow: hidden
  cursor: pointer

  &:hover
    .people__content
      transform: translateY(0)

  &__image
    img
      display: block
      width: 100%
      height: auto

  &__content
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    padding: 36px 20px 20px 20px
    font-size: 24px
    line-height: 33px
    text-align: center
    strong
      display: block
      font-weight: 700

    a
      display: block
      font-weight: 500
      text-decoration: none
      color: inherit

    +tablet
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      background-color: $white--90
      transform: translateY(100%)
      transition: all 0.3s

  &__function
    position: relative
    font-weight: 500
    +mobile-only
      margin-bottom: 30px
    &:after
      content: ""
      position: absolute
      width: 45px
      height: 4px
      bottom: -8px
      left: 50%
      transform: translateX(-50%)
      background-color: $primary
