#edit-field-role-wrapper
  display: none
.paragraph__partner-register-form

  .description
    display: none
  .form-type-managed-file
    label
      display: block
      margin-bottom: 6px
    .description
      display: block
      font-size: 13px
      color: $black
      br
        display: inline
        clear: none
        content: ""
        &:after
          content: " "

  #edit-entity-partner
    clear: both
    border: 0
    summary
      display: none
    .details-wrapper
      padding: 0
    +desktop
      +push(2)
      +span(8)

  .form-actions
    padding-bottom: spacer(xl)
    text-align: center
