.paragraph__text-image

  &-wrapper
    padding: spacer(l) 0
    +desktop
      display: flex
      width: 100%
      align-items: center
      justify-content: space-between
    +grid-media-container()

    .paragraph__text-image--centered &
      flex-direction: column

  &-image, &-icon
    .paragraph__text-image--half-left &
      +desktop
        +span(6)
        +last
    .paragraph__text-image--half-right &
      +desktop
        order: 1
        +span(6)
    .paragraph__text-image--centered &
      +desktop
        +span(6)

  &-icon
    text-align: center
    img
      max-width: 100%
      height: auto
  &-image
    img
      display: block
      width: 100%
      max-width: 100%
      height: auto
    .paragraph__text-image--half-left &,
    .paragraph__text-image--half-right &
      +mobile-only
        display: none

  &-text
    +tablet
      text-align: center
    .paragraph__text-image--half-left &,
    .paragraph__text-image--half-right &
      +tablet
        text-align: left
      +desktop
        +span(5)
        margin-right: span(1)
    .paragraph__text-image--half-right &
      order: 2
    .paragraph__text-image--centered &
      margin-bottom: spacer(m)
      text-align: center
      +desktop
        +span(8)
    &-icon
      margin-top: spacer(l)
      text-align: center

  &-cta
    a
      margin-top: spacer(l)
      @extend %button

  &.stimbox-experiment
    position: relative
    overflow: hidden
    @extend %dark
    +desktop
      padding-bottom: 260px
      &:after
        content: ""
        position: absolute
        height: 80px
        bottom: 0
        width: 100%
        background-color: $white

    .paragraph__text-image-wrapper
      padding-top: spacer(s)
      +desktop
        justify-content: flex-start
    .paragraph__text-image-text
      +desktop
        +span(6)
        text-align: left
    .paragraph__text-image-image
      +desktop
        position: absolute
        width: 1200px
        bottom: -100px
        left: 10%
        margin: 0
        top: 110px
        left: 33%
        bottom: auto
        overflow: hidden
        z-index: 999
      img
        +tablet-only
          width: 780px
          max-width: 780px
