.paragraph__timeline

  &-text
    margin: spacer(l) 0
    padding: 0 spacer(m)
    text-align: center
    font-size: 18px
    line-height: 27px
    +tablet
      padding: 0 span(1)
    +desktop
      padding: 0 span(3)

  &-wrapper
    position: relative
    width: 100%
    text-align: center

    &:before
      content: ""
      position: absolute
      height: 100%
      width: 4px
      left: 10px
      background-color: $black
      opacity: 0.1
      +tablet
        left: 50%
        margin-left: -2px

  &-qrcode
    width: 107px
    margin: 0 auto spacer(xl) auto
    background-color: $background

    img
      display: block
      width: 100%

  &-step

  &-title
    position: relative
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    height: 100px
    width: 100%
    margin-bottom: spacer(xl)
    text-align: center
    background-color: $primary
    &::after
      content: ""
      position: absolute
      width: 100%
      bottom: -60px
      left: 0
      height: spacer(xl)
      background-color: $grey--light
      z-index: -1
      +tablet
        display: none
    +tablet
      margin-bottom: 0
      flex-direction: row
    .paragraph__timeline-step--red &
      background-color: $red
    .paragraph__timeline-step--orange &
      background-color: $orange
    +font-smoothing
    .paragraph__timeline-step--primary &
      &:before
        content: ""
        position: absolute
        top: -12px
        left: 0
        width: 100%
        height: 12px
        background-color: $background
        z-index: 100

    h4
      margin: 0
      color: $white
      text-transform: uppercase
      font-weight: 600
      font-size: 24px
      line-height: 33px
      +mobile-only
        margin-top: -20px

    &-number
      position: absolute
      width: 42px
      height: 42px
      font-size: 21px
      line-height: 42px
      font-weight: 900
      color: $white
      bottom: -21px
      z-index: 110
      &:before
        content: ""
        position: absolute
        left: 50%
        top: 50%
        width: 42px
        height: 42px
        margin-top: -21px
        margin-left: -21px
        background-color: rgba(101,194,200,0.5)
        border: 3px solid $white
        transform: rotate(45deg)
        z-index: -1
        .paragraph__timeline-step--red &
          background-color: rgba(244,153,123,0.5)
        .paragraph__timeline-step--orange &
          background-color: rgba(251,189,94,0.5)

    &-infos
      display: none
      font-size: 18px
      color: $white
      font-style: italic
      +tablet
        position: absolute
        right: 45px

  &-inner
    +mobile-only
      margin: 0
    +tablet
      display: flex
      width: 100%
      align-items: center
      padding: 80px 0
    h4
      margin: 0 0 16px 0
      font-size: 20px
      line-height: 27px
      font-weight: 900
    p
      margin: 0
      font-size: 14px
      line-height: 19px

  &-items
    +tablet
      width: 50%
      float: left
      overflow: visible
    .paragraph__timeline-step--right &
      +tablet
        +last
        +push(2)

  &-item
    position: relative
    padding: 40px 40px 34px 40px
    margin-bottom: 60px
    background-color: $background
    border: 1px solid rgba(151,151,151,0.22)
    +mobile-only
      margin: 0 20px 60px 40px
    +tablet
      transform: translateX(-73px)
      &:last-child
        margin-bottom: 0
    .paragraph__timeline-step--right &
      transform: translateX(0)

    &:before
      content: ""
      position: absolute
      top: 50%
      left: -6px
      width: 10px
      height: 10px
      margin-top: -5px
      background-color: $background
      transform: rotate(-135deg)
      border-top: 1px solid rgba(151,151,151,0.22)
      border-right: 1px solid rgba(151,151,151,0.22)
      +tablet
        left: auto
        right: -6px
        transform: rotate(45deg)

      .paragraph__timeline-step--right &
        left: -6px
        right: auto
        border-top: 0
        border-right: 0
        border-bottom: 1px solid rgba(151,151,151,0.22)
        border-left: 1px solid rgba(151,151,151,0.22)
        transform: rotate(45deg)



    &--wide, &--small
      &:after
        content: ""
        position: absolute
        width: 17px
        height: 17px
        border-radius: 50%
        border: 3px solid $primary
        background-color: $grey--light
        top: 50%
        transform: translateY(-50%)
        left: -37px
        z-index: 0
        +tablet
          left: auto
          right: -82px

        .paragraph__timeline-step--red &
          border-color: $red
        .paragraph__timeline-step--orange &
          border-color: $orange
        .paragraph__timeline-step--right &
          +tablet
            right: auto
            left: -95px

    &--small
      padding: 20px
      +tablet
        &:after
          display: none

    +tablet
      float: right
      &--wide
        width: span(5 of 6)
      &--small
        width: span(4 of 6)

    &-icon
      display: none
      position: absolute
      top: 50%
      right: -110px
      background-color: $grey--light
      width: 70px
      height: 70px
      border-radius: 50%
      border: 4px solid $primary
      z-index: 1
      transform: translateY(-50%)
      +tablet
        display: block
      .paragraph__timeline-step--red &
        border-color: $red
      .paragraph__timeline-step--orange &
        border-color: $orange
      .paragraph__timeline-step--right &
        right: auto
        left: -121px

      .icon
        +centered

  &-description
    padding: 0 spacer(m) 0 spacer(l)
    margin-bottom: spacer(l)
    +tablet
      padding: 0
      margin-bottom: 0
      +span(4)
      .paragraph__timeline-step--left &
        +push(2)
        +last

    &-image
      margin-bottom: spacer(l)
      img
        display: block
        width: 100%
        margin: 0 auto
        .paragraph__timeline-step--primary &
          max-width: 170px
        .paragraph__timeline-step--orange &
          max-width: 125px
