<footer class="site-footer" role="contentinfo">
  <div class="container">
    <a href="{{ base_path }}" class="site-footer__logo col-d--3 col-t--3">
      <div class="icon-logo" data-grunticon-embed></div>
    </a>
    <div class="site-footer__primary-nav col-d--3 col-t--3">
      {{ page.footer1 }}
    </div>
    <div class="site-footer__secondary-nav col-d--3 col-t--3">
      {{ page.footer2 }}
    </div>
    <div class="site-footer__dots">
      <div class="site-footer__dot"></div>
      <div class="site-footer__dot"></div>
      <div class="site-footer__dot"></div>
    </div>
    <div class="site-footer__social col-d--3 col-t--3 col-d--last col-t--last">
      <strong>Suivez-nous sur:</strong>
      <a href="https://www.facebook.com/stimbox.experience" class="icon icon-facebook" data-grunticon-embed target="_blank">Facebook</a>
      <a href="#" class="icon icon-youtube hidden" data-grunticon-embed target="_blank">Youtube</a>
      <a href="https://www.linkedin.com/company-beta/11037940/" class="icon icon-linkedin" data-grunticon-embed target="_blank">Linkedin</a>
      <div class="icon icon-rse_certified" data-grunticon-embed></div>
    </div>
  </div>
</footer>
