<header role="banner">
  <a href="#" class="header__logo-collapsed">
    <div class="icon-logo-collapsed" data-grunticon-embed></div>
  </a>
  <div class="site-header__toggle">
    <button type="button" class="menu-toggle hamburger hamburger--slider" aria-label="Menu" role="button" aria-controls="navigation" data-menu-toggle>
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <div class="header__header">
    {{ page.header }}
    <div class="hidden-desktop">
      {{ page.cart }}
    </div>
  </div>
  <a href="{{ base_path }}" class="header__logo">
    <div class="icon-logo" data-grunticon-embed></div>
    <h1 class="hidden">{{ site_name }}</h1>
  </a>
  <div class="region-header-right">
    {% if logged_in %}
    <div class="menu--account relative hidden-mobile">
      <a href="#"><span class="icon-profile" data-grunticon-embed></span>{{ logged_user.first_name }} {{ logged_user.last_name }}</a>
      <div class="menu--account__dropdown">
        <h4 class="h4 t-center t-upper w-600">{{ logged_user.first_name }} {{ logged_user.last_name }}</h4>
        <ul>
          <li><a href="{{ url('s_timbox', {'tab': 'account'}) }}"><span class="icon icon-profile--small" data-grunticon-embed></span>Mon compte</a></li>
          <li><a href="{{ url('s_timbox', {'tab': 'personal-data'}) }}"><span class="icon icon-vcard--small" data-grunticon-embed></span>Données personnelles</a></li>
          {% if logged_user.is_partner %}
          <li><a href="{{ url('s_timbox', {'tab': 'subscription'}) }}"><span class="icon icon-calendar--small" data-grunticon-embed></span>Mes abonnements</a></li>
          <li><a href="{{ url('s_timbox', {'tab': 'advert'}) }}"><span class="icon icon-logo-collapsed" data-grunticon-embed></span>Mon annonce</a></li>
          {% else %}
          <li class="hidden"><a href="{{ url('s_timbox', {'tab': 'subscription'}) }}"><span class="icon icon-calendar--small" data-grunticon-embed></span>Abonnements</a></li>
          <li><a href="{{ url('s_timbox', {'tab': 'teams'}) }}"><span class="icon icon-team--small" data-grunticon-embed></span>Équipes</a></li>
          {% endif %}
          <li><a href="{{ url('s_timbox', {'tab': 'infos'}) }}"><span class="icon icon-info--naked" data-grunticon-embed></span>Infos pratiques</a></li>
        </ul>
        <div class="t-center">
          <a href="{{ base_path }}user/logout" class="button">{{"Se déconnecter"|t}}</a>
        </div>
      </div>
    </div>
    {% else %}
    <a href="{{ base_path }}user" class="button button--naked desktop-only">{{"S'identifier"|t}}</a>
    {% endif %}
    {% if has_orders == false %}
    <a href="{{ path('entity.node.canonical', {'node': 5}) }}" class="button">{{"S'abonner"|t}}</a>
    {% endif %}
  </div>
  <div class="desktop-only">
    {{ page.cart }}
  </div>
</header>
