{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    'no-js'
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/2e50edbd-d0ff-4f27-a714-295650b02e09.css"/>
    <link rel="stylesheet" href="{{ base_path ~ directory }}/src/vendors/plyr/plyr.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <script>
      window.themeUrl = "{{base_url}}/{{path_to_theme}}/";
      function loadJS(d,b){var c=window.document.getElementsByTagName("script")[0],a=window.document.createElement("script");a.src=d;a.async=!0;c.parentNode.insertBefore(a,c);b&&(a.onload=b);return a};

      /*! grunt-grunticon Stylesheet Loader - v2.1.6 | https://github.com/filamentgroup/grunticon | (c) 2015 Scott Jehl, Filament Group, Inc. | MIT license. */
      !function(){function e(e,n,t){"use strict";var o=window.document.createElement("link"),r=n||window.document.getElementsByTagName("script")[0],a=window.document.styleSheets;return o.rel="stylesheet",o.href=e,o.media="only x",r.parentNode.insertBefore(o,r),o.onloadcssdefined=function(e){for(var n,t=0;t<a.length;t++)a[t].href&&a[t].href===o.href&&(n=!0);n?e():setTimeout(function(){o.onloadcssdefined(e)})},o.onloadcssdefined(function(){o.media=t||"all"}),o}function n(e,n){e.onload=function(){e.onload=null,n&&n.call(e)},"isApplicationInstalled"in navigator&&"onloadcssdefined"in e&&e.onloadcssdefined(n)}!function(t){var o=function(r,a){"use strict";if(r&&3===r.length){var i=t.navigator,c=t.document,s=t.Image,d=!(!c.createElementNS||!c.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!c.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||t.opera&&-1===i.userAgent.indexOf("Chrome")||-1!==i.userAgent.indexOf("Series40")),l=new s;l.onerror=function(){o.method="png",o.href=r[2],e(r[2])},l.onload=function(){var t=1===l.width&&1===l.height,i=r[t&&d?0:t?1:2];t&&d?o.method="svg":t?o.method="datapng":o.method="png",o.href=i,n(e(i),a)},l.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==",c.documentElement.className+=" grunticon"}};o.loadCSS=e,o.onloadCSS=n,t.grunticon=o}(this),function(e,n){"use strict";var t=n.document,o="grunticon:",r=function(e){if(t.attachEvent?"complete"===t.readyState:"loading"!==t.readyState)e();else{var n=!1;t.addEventListener("readystatechange",function(){n||(n=!0,e())},!1)}},a=function(e){return n.document.querySelector('link[href$="'+e+'"]')},i=function(e){var n,t,r,a,i,c,s={};if(n=e.sheet,!n)return s;t=n.cssRules?n.cssRules:n.rules;for(var d=0;d<t.length;d++)r=t[d].cssText,a=o+t[d].selectorText,i=r.split(");")[0].match(/US\-ASCII\,([^"']+)/),i&&i[1]&&(c=decodeURIComponent(i[1]),s[a]=c);return s},c=function(e){var n,r,a,i;a="data-grunticon-embed";for(var c in e){i=c.slice(o.length);try{n=t.querySelectorAll(i)}catch(s){continue}r=[];for(var d=0;d<n.length;d++)null!==n[d].getAttribute(a)&&r.push(n[d]);if(r.length)for(d=0;d<r.length;d++)r[d].innerHTML=e[c],r[d].style.backgroundImage="none",r[d].removeAttribute(a)}return r},s=function(n){"svg"===e.method&&r(function(){c(i(a(e.href))),"function"==typeof n&&n()})};e.embedIcons=c,e.getCSS=a,e.getIcons=i,e.ready=r,e.svgLoadedCallback=s,e.embedSVG=s}(grunticon,this)}();

      grunticon(["{{base_url}}/{{path_to_theme}}/dist/svg/icons.data.svg.css", "{{base_url}}/{{path_to_theme}}/dist/svg/icons.data.png.css", "{{base_url}}/{{path_to_theme}}/dist/svg/icons.fallback.css"], grunticon.svgLoadedCallback);

      // Replace no-js with js directly.
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'') + ' js';
    </script>
  	<link rel="shortcut icon" href="{{base_url}}/favicon.ico">
  	<link rel="icon" sizes="16x16 32x32 64x64" href="{{base_url}}/favicon.ico">
  	<link rel="icon" type="image/png" sizes="196x196" href="{{base_url}}/favicon-192.png">
  	<link rel="icon" type="image/png" sizes="160x160" href="{{base_url}}/favicon-160.png">
  	<link rel="icon" type="image/png" sizes="96x96" href="{{base_url}}/favicon-96.png">
  	<link rel="icon" type="image/png" sizes="64x64" href="{{base_url}}/favicon-64.png">
  	<link rel="icon" type="image/png" sizes="32x32" href="{{base_url}}/favicon-32.png">
  	<link rel="icon" type="image/png" sizes="16x16" href="{{base_url}}/favicon-16.png">
  	<link rel="apple-touch-icon" href="{{base_url}}/favicon-57.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="{{base_url}}/favicon-114.png">
  	<link rel="apple-touch-icon" sizes="72x72" href="{{base_url}}/favicon-72.png">
  	<link rel="apple-touch-icon" sizes="144x144" href="{{base_url}}/favicon-144.png">
  	<link rel="apple-touch-icon" sizes="60x60" href="{{base_url}}/favicon-60.png">
  	<link rel="apple-touch-icon" sizes="120x120" href="{{base_url}}/favicon-120.png">
  	<link rel="apple-touch-icon" sizes="76x76" href="{{base_url}}/favicon-76.png">
  	<link rel="apple-touch-icon" sizes="152x152" href="{{base_url}}/favicon-152.png">
  	<link rel="apple-touch-icon" sizes="180x180" href="{{base_url}}/favicon-180.png">
  	<meta name="msapplication-TileColor" content="#FFFFFF">
  	<meta name="msapplication-TileImage" content="{{base_url}}/favicon-144.png">
  	<meta name="msapplication-config" content="{{base_url}}/browserconfig.xml">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-90355708-2', 'auto');
      ga('send', 'pageview');
    </script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#f8f8f8"
        }
      },
      "content": {
        "message": "{{ 'This website uses cookies to ensure you get the best experience on our website.'|t }}",
        "dismiss": "{{ 'Got it!'|t }}",
        "link": "{{ 'Learn more'|t }}",
        "href": "https://www.s-timbox.com/cookies"
      }
    })});
    </script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1824971271054051');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=1824971271054051&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <!-- Development by stimul.ch -->
  </body>
</html>
