<div data-slideshow data-dots="false" data-fade="true" data-arrows="false" data-infinite="false"data-swipe="false" data-adaptiveHeight="true">
  {{ content }}
</div>

<div class="av__scrollable">
  <div class="icon icon-scroll" data-grunticon-embed></div>
</div>

<div class="container relative mfp-hide" id="popupMainTimer">
  <div class="av__popup av__popup--advice col-d--10 col-d--push1">
    <div class="av__popup-title">
      <h3>Temps presque écoulé</h3>
      <a href="#" class="circle circle--with-icon hidden">
        <div class="icon icon-audio" data-grunticon-embed></div>
      </a>
    </div>
    <div class="col-d--push1 col-d--8of10">
      Attention, on arrive au bout du temps alloué à ce jeu ! <br>
Vous pouvez continuer à jouer, mais si vous le faites, sachez que vous allez dépasser les 30 minutes initialement prévues pour cette S’TIMBOX !
    </div>
    <div class="pie-clearfix"></div>
    <div class="av__popup-actions">
      <a href="#" class="button button--av button--wide" data-popup-close>{{"Continue playing"|t}}</a>
      <a href="#" class="button button--av button--wide button--primary" data-popup-close data-slick-next>{{"Next"|t}}</a>
    </div>
    <div class="av__popup__icon-icon">
      <div class="av__popup__icon-square av__popup__icon-square--red"></div>
      <div class="icon icon-warning-popup" data-grunticon-embed></div>
    </div>
  </div>
</div>

<div class="container relative mfp-hide" id="popupSlideTimer">
  <div class="av__popup av__popup--advice col-d--10 col-d--push1">
    <div class="av__popup-title">
      <h3>Temps presque écoulé - Slide</h3>
      <a href="#" class="circle circle--with-icon hidden">
        <div class="icon icon-audio" data-grunticon-embed></div>
      </a>
    </div>
    <div class="col-d--push1 col-d--8of10">
      Attention, on arrive au bout du temps alloué à ce jeu ! <br>
Vous pouvez continuer à jouer, mais si vous le faites, sachez que vous allez dépasser les 30 minutes initialement prévues pour cette S’TIMBOX !
    </div>
    <div class="pie-clearfix"></div>
    <div class="av__popup-actions">
      <a href="#" class="button button--av button--wide" data-popup-close>{{"Continue playing"|t}}</a>
      <a href="#" class="button button--av button--wide button--primary" data-popup-close data-slick-next>{{"Next"|t}}</a>
    </div>
    <div class="av__popup__icon-icon">
      <div class="av__popup__icon-square av__popup__icon-square--red"></div>
      <div class="icon icon-warning-popup" data-grunticon-embed></div>
    </div>
  </div>
</div>
