<div class="av">
  <div class="av__header">
    <div class="av__company-logo">
      <img src="//placehold.it/60x60" alt="">
    </div>
    <div class="av__logo">
      <div class="icon-logo" data-grunticon-embed></div>
    </div>
    <div class="av__tools">
      <a href="#">
        <div class="icon-font-size" data-grunticon-embed></div>
      </a>
      <a href="#">
        <div class="icon-logout" data-grunticon-embed></div>
      </a>
    </div>
  </div>
  <div class="av__timer" data-timer data-time="{{ main_time }}" data-autostart="true" data-remaining-time-alert="{{ main_remaining_time_alert }}">
    <div class="av__timer-elapsed"></div>
  </div>

  <div class="av__wrapper container">
    {{ page.content }}
    {% if false %}
    <div class="av__content hidden">
      <div class="av__sidebar col-d--3">
        <div class="av__tim av__tim--default"></div>
        <div class="av__sections">
          <ul>
            <li class="{% if i== 0 %}active{% endif %}"><a href="#">Introduction</a></li>
            <li class="{% if i== 1 %}active{% endif %}"><a href="#">Brise Glace</a></li>
            <li class="{% if i== 2 %}active{% endif %}"><a href="#">Activité principale</a></li>
            <li class="{% if i== 3 %}active{% endif %}"><a href="#">Conclusion</a></li>
          </ul>
        </div>
      </div>
      <div class="av__slide col-d--8 col-d--push1 col-d--last">
        <div class="av__slide-title">
          <h2>Brise-Glace - Partie I</h2>
          <a href="#advice2" class="circle circle--with-icon" data-lightbox data-type="inline">
            <div class="icon icon-audio" data-grunticon-embed></div>
          </a>
          <a href="#advice1" class="circle circle--yellow circle--with-icon" data-lightbox data-type="inline">
            <div class="icon icon-lightbulb--small" data-grunticon-embed></div>
          </a>
        </div>
        <div class="av__slide-introduction">
          <p>Brrrr.. La température à chuté tout à coup, vous n’êtes pas de mon avis ? Il est donc temps de nous réchauffer l’esprit ! </p>
        </div>
        <div class="av__slide-text">
          Merci de bien vouloir cocher, ci-dessous, chaque participant présent de manière à obtenir une expérience personnalisée.
        </div>
        <div class="av__slide-attendance">
          <div class="col-d--3of8 col-d--push1">
            <ul>
              <li><input type="checkbox" id="user1"> <label for="user1">Gérard</label></li>
              <li><input type="checkbox" id="user2"> <label for="user2">José</label></li>
              <li><input type="checkbox" id="user3"> <label for="user3">Juju</label></li>
              <li><input type="checkbox" id="user4"> <label for="user4">Charles-Henri</label></li>
            </ul>
          </div>
          <div class="col-d--3of8">
            <ul>
              <li><input type="checkbox" id="user5"> <label for="user5">Dylan</label></li>
              <li><input type="checkbox" id="user6"> <label for="user6">Joshua</label></li>
              <li><input type="checkbox" id="user7"> <label for="user7">Frodon-Saquet</label></li>
            </ul>
          </div>
          <div class="pie-clearfix"></div>
        </div>
        <h3 class="av__slide-subtitle">Lignes directrices</h3>
        <div class="av__slide-list">
          <ul>
            <li>Thème professionnel en rapport à l’équipe</li>
            <li>Pas de stress</li>
            <li>Profitez de ces instants pour mieux connaître vos collègues</li>
            <li>Soyez spontanés</li>
          </ul>
        </div>
        <div class="av__slide-text">
          <p>Bienvenue dans ce premier défi: le brise-glace. Pour ce défi, je vous propose d’ouvrir le premier compartiment de la Box en tirant la languette N°1.</p>
        </div>
        <div class="av__slide-image">
          <img src="//placehold.it/1000x400" alt="">
        </div>
        <div class="av__slide-timer">
          <div class="timer" data-timer data-time="60" data-perimeter="660" data-type="circle">
            <div class="icon icon-clock" data-grunticon-embed></div>
            <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" id="timer">
             <g>
              <title>Timer</title>
              <circle id="back" class="" r="83" cy="100" cx="100" stroke-width="17" fill="none"/>
              <circle id="circle" class="circle_animation" r="83" cy="100" cx="100" stroke-width="17" stroke="#65C2C8" fill="none"/>
             </g>
            </svg>
          </div>
        </div>
        <div class="av__arrows">
          <a href="#" class="arrow arrow--left" data-slick-prev>Précédent</a>
          <a href="#" class="arrow arrow--right" data-slick-next>Suivant</a>
        </div>
      </div>
      <div class="container relative mfp-hide" id="advice1">
        <div class="av__popup av__popup--advice col-d--10 col-d--push1">
          <div class="av__popup-title">
            <h3>Conseils</h3>
            <a href="#" class="circle circle--with-icon">
              <div class="icon icon-audio" data-grunticon-embed></div>
            </a>
          </div>
          <div class="col-d--push1 col-d--8of10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eros nisl, ornare eu faucibus ullamcorper, aliquam vitae erat. Nam hendrerit massa lorem, vel interdum metus facilisis elementum. Sed in dictum nisl, vitae condimentum nisi.
          </div>
          <div class="pie-clearfix"></div>
          <div class="av__popup-example">
            <p>Exemple:<br><br>
  Nam hendrerit massa lorem, vel interdum metus facilisis elementum. Sed in dictum nisl, vitae condimentum nisi. </p>
          </div>
          <div class="av__popup__icon-icon">
            <div class="av__popup__icon-square"></div>
            <div class="icon icon-lightbulb" data-grunticon-embed></div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<script src="{{ base_path ~ directory }}/src/vendors/plyr/plyr.js"></script>
