{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% include 'themes/stimbox/templates/layout/header.html.twig' %}

<main role="main">
  <div class="site-content__main login">
    <div class="container">
      {{ page.highlighted }}
      {{ page.tabs }}
    </div>
    <div class="container">
      <div class="login__form login__form--login">
        <div class="col-d--6">
          <h2>Se connecter</h2>
          {{ page.content }}
        </div>
        <div class="col-d--6 col-d--last login__form-register-wrapper">
          <h2>Je n'ai pas de compte</h2>
          <div class="login__form-register">
            <p class="col-d--5of6 t-center">Vous ne possédez pas de compte S'TIMBOX ? Pour en créer un, rien de plus facile!</p>
            <div class="clear"></div>
            <a href="{{ base_path }}user/register" class="button button--primary button--inline-block">Créer un compte</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% include 'themes/stimbox/templates/layout/footer.html.twig' %}
