<div class="account" data-stimbox-module>
  {{ navigation }}

  <div class="{% if options['#container'] == true %}container{% endif %}">
    {% for block in blocks %}
      {{ block | raw }}
    {% endfor %}
  </div>
</div>
