input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="url"],
textarea
  width: 100%
  height: 44px
  padding: 10px 16px
  border: 1px solid $border
  color: $grey--dark
  font-size: 14px
  border-radius: 0
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

  &.error
    border: 1px solid $error !important
    &, &::placeholder
      color: $error

  &.form-number
    width: 61px
    margin-left: 5px
    padding-right: 5px
textarea
  height: auto

input[type="submit"]
  margin-top: spacer(m)
  margin-bottom: spacer(l)
  border-radius: 6px
  @extend %button
  @extend %button--primary
  @extend %button--inline-block

input[type="checkbox"],
input[type="radio"]
  appearance: none
  float: left
  &:focus
    outline: none
  &:before
    position: relative
    content: ""
    display: block
    width: 32px
    height: 32px
    background-color: $background
    border: 1px solid $border
    border-radius: 3px
    background-image: image-url("svg/checkbox.svg")
    background-position: center center
    background-repeat: no-repeat
    transition: all 0.3s

input[type="radio"]
  position: relative
  &:before
    border-radius: 50%
    background-image: none
  &:after
    content: ""
    position: absolute
    display: block
    width: 8px
    height: 8px
    top: 50%
    left: 50%
    margin: -4px 0 0 -4px
    border-radius: 50%
    background-color: $black

input[type="checkbox"]:checked,
input[type="radio"]:checked
  &:before
    background-color: $primary
    border: 1px solid $primary
    background-image: image-url("svg/checkbox_white.svg")

input[type="radio"]:checked
  &:before
    background-image: none
  &:after
    background-color: $background

input[type="checkbox"] + label,
input[type="radio"] + label
  display: block
  float: left
  padding-left: spacer(s)
  line-height: 32px


select
  position: relative
  width: 100%
  height: 44px
  padding: 10px 16px
  border: 1px solid $border
  outline: none
  appearance: none
  background-color: $white
  border-radius: 0
  color: $black
  font-size: 14px
  line-height: 25px
.form-type-checkbox
  height: 32px

.form-item.form-type-select
  position: relative
  &:after
    content: ""
    position: absolute
    width: 0
    height: 0
    right: 19px
    bottom: 19px
    border-style: solid
    border-width: 4px 2.5px 0 2.5px
    border-color: $black transparent transparent transparent

::placeholder
  @extend %base

label
  font-size: 16px
  color: $black
  .form-type-select &,
  .form-type-textfield &,
  .form-type-email &,
  .form-type-password &,
  .form-type-url &,
  .form-type-textarea &
    display: none

.form-type-radio, .form-type-checkbox
  display: block
  +clearfix
  width: 100%
  float: none
  clear: both
  margin-bottom: 10px

.field--widget-options-buttons
  legend
    display: none

.form-wrapper
  .form-item
    margin-top: 0

.form-actions
  clear: both

.password-suggestions
  margin: 0
  max-width: none
