// Padding
.p-t--0
  padding-top: 0

.p-b--0
  padding-bottom: 0

$sizes--mobile: map-get($spacers, mobile)
$sizes--desktop: map-get($spacers, desktop)
@each $key, $size in $sizes--mobile
  .p--#{$key}
    padding: $size

  .p-t--#{$key}
    padding-top: $size

  .p-b--#{$key}
    padding-bottom: $size

  .p-v--#{$key}
    padding-top: $size
    padding-bottom: $size

  .p-h--#{$key}
    padding-left: $size
    padding-right: $size

+desktop
  @each $key, $size in $sizes--desktop
    $mobile_size: map-get($sizes--mobile, $key)
    @if $size != $mobile_size
      .p--#{$key}
        padding: $size

      .p-t--#{$key}
        padding-top: $size

      .p-b--#{$key}
        padding-bottom: $size

      .p-v--#{$key}
        padding-top: $size
        padding-bottom: $size

      .p-h--#{$key}
        padding-left: $size
        padding-right: $size
