// Spacings.
$spacers: (
  mobile: (
    xs: rem(10px),
    s: rem(10px),
    m: rem(20px),
    l: rem(40px),
    xl: rem(60px)
  ),
  desktop: (
    xs: rem(10px),
    s: rem(20px),
    m: rem(40px),
    l: rem(60px),
    xl: rem(80px)
  )
);

@function spacer($size: m, $target: mobile) {
    $sizes: map-get($spacers, $target);
    @return map-get($sizes, $size);
}

// Susy Configuration.
$susy: (
  columns: 2,
  gutters: (30/67),
  global-box-sizing: border-box
);
$desktop_layout: (
  columns: 12,
  gutters: (28/70)
);
$av_mobile: (
  columns: 6,
  gutters: (18/95)
);
$av_desktop: (
  columns: 12,
  gutters: (20/60)
);

// Breakpoints reference.
$breakpoint-iphone-portrait: 320px;
$breakpoint-iphone-landscape: 480px;
$breakpoint-ipad-portrait: 768px;
$breakpoint-ipad-landscape: 1024px;

// Define breakpoints.
// @see src/vendors/sass/stimul-breakpoint/_stimul-breakpoint.sass
$breakpoints: (
  "mobile": $breakpoint-iphone-portrait,
  "tablet": $breakpoint-ipad-portrait,
  "desktop": 960px,
  "desktop-xl": 1170px,
  "av-mobile": $breakpoint-ipad-portrait,
  "av-desktop": $breakpoint-ipad-landscape
);

// We can have different margins by breakpoint.
$breakpoints_margin: (
  "mobile": 22px,
  //"tablet": 15px,
  //"desktop": 30px
);
