// Enable global box-sizing(border-box)
@include global-box-sizing(border-box)

.container
  // We can pass a parameter to the grid-media-container() function to define
  // a larger max-width than the desktop breakpoint.
  // @see src/vendors/sass/stimul-breakpoint/_stimul-breakpoint.sass
  +grid-media-container()
  
// Clearfix
.clearfix
  +clearfix

.pie-clearfix
  +pie-clearfix

.clear
  clear: both

.relative
  position: relative

.t-center
  text-align: center

.dark,
%dark
  background-color: $grey--light
  +font-smoothing
