// Visibility
.hidden-mobile
  +mobile-only
    display: none !important

.hidden-tablet
  +tablet-only
    display: none !important

.hidden-desktop
  +desktop
    display: none !important

.desktop-only
  +no-desktop
    display: none !important
